---
layout: base.njk
---
<div class="video-bg">
  <video poster="" autoplay="" muted="" loop="">
    <source src="/assets/static/main.mp4" type="video/mp4" />
  </video>
</div>
<div class="container-fluid">{% include 'components/hero.njk' %}</div>
<section class="front-section bg-light">
  <div class="container-12  height-xl align-middle">
    <div class="row">
      <div class="col-xs-12">
        <div class="fluid-6-b c-primary">
          {{ presentacion }}
        </div>
      </div>
    </div>
  </div>
</section>



{% for i in range(3) %}
  <section class="front-section bg-dark has-light">
    <div class="container-fluid pb-64 p-body front-section ptr-120">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="rat-16-9">
            <div class="rat-content">
              <img
                width="100%"
                height="100%"
                src="{{ global.imageDir }}_about/{{ autorimg }}"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-1"></div>
        <div class="col-xs-12 col-md-5 mdmax:mb-42">
          <div class="fluid-6-b mb-24">
            {{ autor + i }}
          </div>
          <div class="fluid-8-b mb-24">
            {{ autorwork }}
          </div>
          <div class="fluid-8-b">
            {{ autordescription }}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endfor %}