---
layout: base.njk
---



{% include 'components/hero.njk' %}

<section class="container-full bg-light ">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="fluid-8-b"><a href="/blog/garantia-toldosmarfil/"> Nuestra garantia </a></h3>
    </div>
  </div>
</section>

<div class="section bg-light ">
  <div class="container-full ">
    <ul role="list" class="list-clear blog-section">
      {% for blog in collections.blog | reverse %}
        {% include 'blog-loop.njk' %}
      {% endfor %}
    </ul>
  </div>
</div>
