---
layout: base.njk
---

{% set parent = global.blog %}

<article class="main-article  ">
  {% set next = collections.blog | nextInCollection(page.fileSlug) %}
  {% set previous = collections.blog | prevInCollection(page.fileSlug) %}

{% include 'components/hero.njk' %}





        <div class="container-full pt-32 bg-white">
          <div class="container-12">
            <div class="row">
              <div class="col-xs-12">

                <div class="innermarkdown">
                  {{ content | toc | safe }}
                  {{ content | safe }}
                </div>

              </div>
            </div>

   
          </div>
        </div>


  <div class="container-full l-top bg-white">
    <div class="col-xs-12">
      {% if next or previous%}
      <div class="pagination">
        {% if previous %}
        <a href="{{ previous.url }} " class="pagination-item pagination-item-prev">
          Previous post
        </a>
        {% endif %}
        {% if next %}
        <a href="{{ next.url }}" class="pagination-item pagination-item-next">
          Next post
        </a>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>

</article>