---
layout: base_slide.njk
---

<div class="slides">
  <div class="slide">
    <div class="slide__img" style="background-image:url(/assets/static/slide2/6.jpg)"></div>
  </div>
  <div class="slide">
    <div class="slide__img" style="background-image:url(/assets/static/slide2/7.jpg)"></div>
  </div>
  <div class="slide">
    <div class="slide__img" style="background-image:url(/assets/static/slide2/8.jpg)"></div>
  </div>
  <div class="slide">
    <div class="slide__img" style="background-image:url(/assets/static/slide2/9.jpg)"></div>
  </div>
  <div class="slide">
    <div class="slide__img" style="background-image:url(/assets/static/slide2/10.jpg)"></div>
  </div>
</div>