---
layout: base.njk
---
<section class="header-img ">
  <div class="video-bg">
    {# <img data-aos="fade-up" width="100%" height="100%" src="{{global.imageDir}}_home/home2.webp" alt="{{global.empresa}}"> #}
  </div>
  <div class="container-full">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <div class="height-full is-flex flex-column content-center">
     

          <div class="fluid-3-b mb-16" data-aos="fade-up" data-aos-delay="200">

Creamos, implementamos y diseñamos Estructuras modulares. 
          </div>

        </div>
      </div>
    </div>
  </div>
</section>



<section class="front-section bg-light height-full-2 front-section ptr-120 pbr-120">
  <div class="container-full mb-64">
    <div class="row">



      <div class="col-xs-12 col-md-4 ">
        <div data-aos="fade-up" data-aos-delay="200" class="is-flex flex-column">
          <h2 class="fluid-6-b pl-64 pb-24">              ¡Bienvenido a nuestro mundo de parrillas de moda!
          </h2>
          <div class="mb-24">
            <p class="text-16-r" data-aos="fade-up" data-aos-once="true" data-aos-delay="300" >


              En nuestra web, encontrarás una amplia variedad de diseños de parrillas que elevarán tu estilo a niveles insospechados. Hemos creado este espacio virtual para que puedas descubrir las últimas tendencias en parrillas y encontrar la perfecta para complementar tu estilo único.
              
              Nuestro equipo de expertos apasionados por la moda ha seleccionado cuidadosamente parrillas que combinan elegancia, originalidad y calidad. Desde diseños minimalistas y sofisticados hasta audaces y llamativos, nuestra colección abarca una amplia gama de estilos para satisfacer todos los gustos.
              
              Cada parrilla en nuestra web ha sido creada con materiales de primera calidad y diseñada por talentosos artesanos. Ofrecemos productos estéticamente atractivos, duraderos y cómodos de llevar. Nuestro compromiso con la calidad se refleja en cada detalle, desde la elección de los metales hasta los acabados impecables.
              
              Además de presentarte una variedad de diseños, también queremos inspirarte y ayudarte a encontrar nuevas formas de incorporar las parrillas en tu estilo diario. En nuestro blog, encontrarás artículos informativos sobre cómo combinar las parrillas con diferentes atuendos, consejos de cuidado y entrevistas exclusivas con diseñadores y expertos de la moda.
              
              Únete a nuestra comunidad de amantes de las parrillas de moda y descubre la emoción de lucir una parrilla única que refleje tu estilo personal. Disfruta de tu visita y no dudes en contactarnos si necesitas asistencia o tienes alguna pregunta.
              
              Bienvenido a nuestro exclusivo universo de parrillas de moda.
              
              
              </p>
          </div>
          <div><a data-aos="fade-up" data-aos-once="true" data-aos-delay="500" class="link-line" href="/about/">ABOUT </a></div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4  mdmax:mb-42 ">
        <a href="/about/">
 <div class="rat-1-1">
          <div class="rat-content  align-center">

       <img data-aos="fade-up" width="100%" src="{{global.imageDir}}images/3.jpg"
         alt="Clínica Estética y Dental">

    </div>    
    </div>
            </a>
 </div>
    </div>
  </div>
</section>



    <section id="featured-articles" class="featured-articles front-section bg-dark has-light pt-64 ">

      <div class="container-full">
        <div class="row">
          <div class="col-xs-12">
            <ul role="list" class="list-clear flow row">
              {% for servicios in collections.servicios %}
                {% if  loop.index < 4 %}  
                        {% include 'servicios-loop.njk' %}
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </section>

<section class="front-section bg-white pt-64 pb-64">
  <div class="container-full">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="fluid-4-b mb-24">Estructuras modulares <br> te informa</h3>
        <div class="blog-intro">
          <ul role="list" class="list-clear blog-intro-inner w-100">
            {% for blog in collections.blog | reverse %}
              {% include 'blog-loop.njk' %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

  </div>
