---
layout: base.njk
---
<section class="header-img ">
  <div class="video-bg">
    {# <img data-aos="fade-up" width="100%" height="100%" src="{{global.imageDir}}_home/home2.webp" alt="{{global.empresa}}"> #}
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <div class="height-full-2 is-flex flex-column content-end">
     

          <div class="fluid-3-b mb-16" data-aos="fade-up" data-aos-delay="200">
            We create, implement, enchant and design. We help you achieve new success.
          </div>

        </div>
      </div>
    </div>
  </div>
</section>



<section class="front-section bg-light height-full-2 front-section ptr-120 pbr-120">
  <div class="container-12 mb-64">
    <div class="row">



      <div class="col-xs-12 col-md-6 ">
        <div data-aos="fade-up" data-aos-delay="200" class="is-flex flex-column">
          <h2 class="fluid-6-b pl-64 pb-24">Confía en los profesionales del <b>toldo</b>
          </h2>
          <div class="mb-24">
            <p class="text-16-r" data-aos="fade-up" data-aos-once="true" data-aos-delay="300" >
              Somos una empresa con más de 35 años de experiencia en el sector de los toldos, sistemas de protección solar y
              automatización.
              Nos dedicamos a la fabricación, asesoramiento, venta e instalación de todo tipo de toldos. Somos expertos en confección
              a medida con materiales de primera calidad.
              En design systems contamos con un equipo propio de profesionales con amplia experiencia en el sector, ofreciendo así un
              servicio personalizado a nuestros clientes de instalación y mantenimiento de nuestros productos. <b>LLámanos al 93 6656502</b>
              </p>
          </div>
          <div><a data-aos="fade-up" data-aos-once="true" data-aos-delay="500" class="link-line" href="/sobre-toldos-marfil/">SOBRE NOSOTROS </a></div>
        </div>
      </div>

      <div class="col-xs-12 col-md-6  mdmax:mb-42 ">
        <a href="/sobre-toldos-marfil/">
 <div class="rat-1-1">
          <div class="rat-content  align-center">

       <img data-aos="fade-up" width="100%" src="{{global.imageDir}}_home/start.jpg"
         alt="Clínica Estética y Dental">

    </div>    
    </div>
            </a>
 </div>
    </div>
  </div>
</section>
{% include 'components/swiper-gallery.njk' %} 




    <section id="featured-articles" class="featured-articles front-section bg-dark has-light pt-64 ">

      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <ul role="list" class="list-clear flow">
              {% for servicios in collections.servicios %}
                {% if  loop.index < 4 %}  
                        {% include 'servicios-loop-h.njk' %}
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </section>
    {% include "components/brands.njk" %}
<section class="front-section bg-white pt-64 pb-64">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="fluid-4-b mb-24">design systems <br> te informa</h3>
        <div class="blog-intro">
          <ul role="list" class="list-clear blog-intro-inner w-100">
            {% for post in collections.post | reverse %}
              {% include 'blog-loop.njk' %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "components/banner.njk" %}
  </div>
