---
layout: base.njk
---
<article class="bg-dark has-light main-article interior  ">
  <div class="container-fluid pt-64">
    <div class="row">
      <div class="col-xs-12">
        <div class="container-2">
          <div class="innermarkdown">
            {{ content | safe }}</div>
        </div>
      </div>
    </div>
  </div>
</article>