---
layout: base2.njk
title: parrillas
permalink: /parrillas-collection/
---
<div class="select-zone">  
    <a href="#1A"> 1A</a>
    <a href="#1CC"> 1CC</a>
    <a href="#1E"> 1E</a>
    <a href="#1F"> 1F</a>
    <a href="#1G"> 1G</a>
    <a href="#1LE"> 1LE</a>
    <a href="#2A"> 2A</a>
    <a href="#2B"> 2B</a>
    <a href="#2C"> 2C</a>
    <a href="#2D"> 2D</a>
    <a href="#2CBG"> 2CBG</a>
    <a href="#2CBG2"> 2CBG2</a>
    <a href="#2D"> 2D</a>
    <a href="#2DS"> 2DS</a>
    <a href="#2E"> 2E</a>
    <a href="#2FDoble"> 2FDoble</a>
    <a href="#2FH"> 2FH</a>
    <a href="#2G"> 2G</a>
    <a href="#2SD"> 2SD</a>
    <a href="#3A"> 3A</a>
    <a href="#3S"> 3S</a>
    <a href="#4A"> 4A</a>
    <a href="#4B"> 4B</a>
    <a href="#4S"> 4S</a>
    <a href="#5A"> 5A</a>
    <a href="#6S"> 6S</a>
    <a href="#FIV"> FIV</a>
    <a href="#G4"> G4</a>
    <a href="#MINIGRID-INFO"> MINIGRID-INFO</a>
    <a href="#MINIGRID"> MINIGRID</a>
    <a href="#SEC"> SEC</a>
    <a href="#SEPARATOR_12_5"> SEPARATOR_12_5</a>
    <a href="#SEPARATOR_25"> SEPARATOR_25</a>
    <a href="#VIT"> VIT</a>
    
<br>

    <a class="rtl">RTL</a>
        <a class="over1">OVER1</a>
    <a class="over2">OVER2</a>
</div>
<div class="body-fake grid-product-list ">
    {% include 'parrillas/template-1A.njk' %}
    {% include 'parrillas/template-1CC.njk' %}
    {% include 'parrillas/template-1E.njk' %}
    {% include 'parrillas/template-1F.njk' %}
    {% include 'parrillas/template-1G.njk' %}
    {% include 'parrillas/template-1LE.njk' %}
    {% include 'parrillas/template-2A.njk' %}
    {% include 'parrillas/template-2B.njk' %}
    {% include 'parrillas/template-2C.njk' %}
    {% include 'parrillas/template-2CBG.njk' %}
    {% include 'parrillas/template-2CBG2.njk' %}
    {% include 'parrillas/template-2D.njk' %}
    {% include 'parrillas/template-2DS.njk' %}
    {% include 'parrillas/template-2E.njk' %}
    {% include 'parrillas/template-2FDoble.njk' %}
    {% include 'parrillas/template-2FH.njk' %}
    {% include 'parrillas/template-2FV.njk' %}
    {% include 'parrillas/template-2G.njk' %}
    {% include 'parrillas/template-2SD.njk' %}
    {% include 'parrillas/template-3A.njk' %}
    {% include 'parrillas/template-3S.njk' %}
    {% include 'parrillas/template-4A.njk' %}
    {% include 'parrillas/template-4S.njk' %}
    {% include 'parrillas/template-4B.njk' %}
    {% include 'parrillas/template-5A.njk' %}
    {% include 'parrillas/template-6S.njk' %}
    {% include 'parrillas/template-G4.njk' %}
    {% include 'parrillas/template-FIV.njk' %}
    {% include 'parrillas/template-VIT.njk' %}
    {% include 'parrillas/template-SEC.njk' %}
    {% include 'parrillas/template-MINIGRID.njk' %}
    {% include 'parrillas/template-MINIGRID-INFO.njk' %}
    {% include 'parrillas/template-SEPARATOR_12_5.njk' %}
    {% include 'parrillas/template-SEPARATOR_25.njk' %}
    <div class="grid">
        <div class="grid1"></div>
        <div class="grid2"></div>
        <div class="grid3"></div>
        <div class="grid4"></div>
    </div>
</div>
