---
layout: base.njk
title: parrillas
permalink: /parrillas/
---

{% set elementos = 40 * 600 %}


<section class="container-fluid pt-64">
    <div class="row">
        <div class="col-xs-12">
	<div class="resize-container">


		<div class="resize">
			<div class="r1"></div>
			<div class="r2"></div>
			<div class="r3"></div>
			<div class="resize-content">
				<div class="resize-media"></div>
				<div class="resize-resolution"></div>
			</div>
			<div class="resize-left"></div>
			<div class="resize-right"></div>

  <iframe id="cover1" class="resizable" style="border-left: 10px solid ; border-right:10px solid; border-color:#f1f1f1;  width: 100%; height: {{ elementos }}px;" src="/parrillas-collection/" frameborder="0"></iframe>
		</div>


        </div>    </div>
    </div>
</section>





