---
layout: base2.njk
title: parrillas
permalink: /parrillas-collection/
---

<div>   
<a  href="#1A"> 1A</a>

</div>

<div class="body-fake grid-product-list ">



    {% include 'parrillas/template-1A.njk' %}
    {% include 'parrillas/template-1CC.njk' %}
    {% include 'parrillas/template-1E.njk' %}
    {% include 'parrillas/template-1F.njk' %}
    {% include 'parrillas/template-1G.njk' %}
    {% include 'parrillas/template-1LE.njk' %}

    {% include 'parrillas/template-2A.njk' %}
    {% include 'parrillas/template-2B.njk' %}
    {% include 'parrillas/template-2C.njk' %}
    {% include 'parrillas/template-2CBG.njk' %}
    {% include 'parrillas/template-2CBG2.njk' %}
    {% include 'parrillas/template-2D.njk' %}
    {% include 'parrillas/template-2DS.njk' %}
    {% include 'parrillas/template-2E.njk' %}
    {% include 'parrillas/template-2FDoble.njk' %}
    {% include 'parrillas/template-2FH.njk' %}
    {% include 'parrillas/template-2FV.njk' %}
    {% include 'parrillas/template-2G.njk' %}
    {% include 'parrillas/template-2SD.njk' %}

    {% include 'parrillas/template-3A.njk' %}
    {% include 'parrillas/template-3S.njk' %}

    {% include 'parrillas/template-4A.njk' %}
    {% include 'parrillas/template-4S.njk' %}
    {% include 'parrillas/template-4B.njk' %}

    {% include 'parrillas/template-5A.njk' %}
    {% include 'parrillas/template-6S.njk' %}
    {% include 'parrillas/template-G4.njk' %}
    {% include 'parrillas/template-FIV.njk' %}
    {% include 'parrillas/template-VIT.njk' %}


    {% include 'parrillas/template-SEC.njk' %}
    {% include 'parrillas/template-MINIGRID.njk' %}
    {% include 'parrillas/template-MINIGRID-INFO.njk' %}

    {% include 'parrillas/template-SEPARATOR_12_5.njk' %}
    {% include 'parrillas/template-SEPARATOR_25.njk' %}



    <div class="grid">
        <div class="grid1"></div>
        <div class="grid2"></div>
        <div class="grid3"></div>
        <div class="grid4"></div>
    </div>
</div>
