<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="google-site-verification"
      content="{{ global.search_console }}"
    />
    <title>{{ title }}</title>
    <meta name="robots" content="{{ metaRobots }}" />
    <meta name="description" content="{{ metaDescription or eleventyComputed.metaDescription or metadata.description }}" />
    <meta name="keywords" content="{{ metaKeywords or eleventyComputed.metaKeywords or metaKeywords.description }}" />
    <link rel="icon" type="image/webp" href="{{ global.url }}/assets/static/images/1.jpg" />

    <style>
        :root {
      --c-primary: {{global.c_primary}};
      --c-secondary: {{global.c_secondary}};
      --bg-dark: {{global.bg_dark}};
      --c-bg-dark: {{global.c_bg_dark}};
      --bg-light: {{global.bg_light}};
      --c-bg-light: {{global.c_bg_light}};
      --btn-radius: {{global.btn_radius}};
      --padding-global: {{global.padding_global}};
      --btn-radius: {{global.btn_radius}};
      }
    </style>

    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="canonical" href="{{ global.url }}/{{ page.url | url }}" />

    <meta property="og:site_name" content="{{ global.empresa }}" />
    <meta
      property="og:image"
      content="{{ global.url }}/assets/static/images/2.jpg"
    />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ global.url }}" />
    <meta
      property="og:description"
      content="{{ metaKeywords or eleventyComputed.metaKeywords or metaKeywords.description }}"
    />

    {% if global.googlemaps_api %}
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "{{global.tag_manager}}");
    </script>
    {% endif %}




    <!-- End Google Tag Manager -->
  </head>
<body class="contain {% if page.url == '/' or page.url == '/about/' %}home{% endif %}" >

{% set breadcrumbs = [] %}


    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id= {{
          global.tag_manager
        }}"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% include 'components/header.njk' %}
    <main class=" ">
      {{ content | safe }}
    </main>
    {% include 'components/footer.njk' %}

  
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js"></script>
    <script type="module" src="/assets/js/index.js"></script>
    <script>
        AOS.init();
      const handleSubmit = (event) => {
        event.preventDefault();
        const myForm = event.target;
        const formData = new FormData(myForm);
        fetch("/", {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded"
          },
          body: new URLSearchParams(formData).toString()
        })
          .then(() => console.log("Form successfully submitted"))
          .catch((error) => alert(error));
      };
    </script>
    <link async rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.css" rel="stylesheet" />

  </body>
</html>