<footer class="bg-light front-section height-xl ptr-120 ">
  <div class="container-full pb-64">
    <div class="row">
      <div class="col-xs-12 col-md-3 mb-24 sm:text-center">
        <div class="align-middle">
          <div class="w-100 mb-48">
            <a href="/index.html" aria-label="slide carrousel">
              <img width="200px" height="100%" src="{{global.imageDir}}logo.png" alt="{{global.empresa}}">
            </a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-5 mb-24 sm:text-center">
        <p class="fluid-7-b">
Brilla con estilo: descubre las parrillas de moda que reflejan tu personalidad única. Únete a nuestra comunidad y deslúmbrate con diseños vanguardistas. ¡Tu estilo, tu brillo, tus parrillas!        </p>
        <br>
                      <b class="fluid-8-b">   © COPYRIGHT 2023. Todos los derechos reservados </b>
      </div>
      <div class="col-xs-12 col-md-1 mb-24 sm:text-center">   </div>
      <div class="col-xs-12 col-md-3 mb-24 sm:text-center">
        <h3 class="fluid-6-b pl-64 pb-32">{{global.empresa}}</h3>
      </div>
    </div>
  </div>
  <div class="container-fluid pt-16 pb-16 bg-dark">
    <div class="row text-12-r ">
      <div class="col-xs-12 col-sm-4 sm:text-center text-left mb-16"> © COPYRIGHT 2023. Todos los derechos reservados
      </div>
      <div class="col-xs-12 col-sm-4 sm:text-center text-center mb-16"> CREADO POR DIGITALSTRATEGY </div>
      <div class="col-xs-12 col-sm-4 sm:text-center  text-right mb-16">

      </div>
</footer>