<header>
    <div class="container-total">
        <div class="row  ">
            <div class="col-xs-4 text-left is-flex align-multi-center content-start pt-16">
    
                    <div class="p-m aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                        <ul class=" menu-desktop  list-clear   text-right is-flex  content-end p-m">
                            <li class="pr-40 ">
                                <svg width="14" height="10" viewBox="0 0 14 10" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <line y1="0.5" x2="14" y2="0.5" stroke="white" style="mix-blend-mode:exclusion" />
                                    <line y1="9.5" x2="14" y2="9.5" stroke="white" style="mix-blend-mode:exclusion" />
                                </svg>
                            </li>
                            <li class="pr-40 active-menu">
                                <a aria-label="link  " class="menu-desktop" href="/">
                                    <div class="active-menu">WOMEN </div>
                         
                                </a>
                            </li>
                            <li> <a aria-label="link " class="menu-mobile-li" href="/parrillas2"> MEN </a>
                            </li>
                        </ul>
                    </div>
            
            </div>
            <div class="col-xs-4 text-center">
                <div class="search-bar mt-16"> SEARCH</div>
            </div>
            <div class="col-xs-4 text-right is-flex align-multi-center content-end pt-16">
                <div class="menu ">
                    <div class="menu-mobile">
                        <div id="menu-toggle"> MENU
                            <div class="menu-toogle-bars">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <ul class=" menu-desktop  list-clear   text-right is-flex  content-end p-m">
                        <li class="pr-32"> <a aria-label="link " class="menu-desktop" href="/">SIGN IN </a>
                        </li>
                        <li> <a aria-label="link " class="menu-mobile-li" href="/parrillas2"> BAG </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</header>