<header>
    <div class="container-full w-100">
        <div class="row  ">


            <div class="col-xs-4 is-flex">
                <a aria-label="link logo simple" href="/">
            
          
<div class="fluid-3-b mb-16 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
Holygrid
          </div>

             
                </a>
            </div>

            <div class="col-xs-8 text-right is-flex align-multi-center content-end">
                <div class="menu ">
                    <div class="menu-mobile">
                        <div id="menu-toggle"> MENU
                            <div class="menu-toogle-bars">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
             
                    </div>
                    <ul class=" menu-desktop  list-clear   text-right is-flex  content-end text-18-b">
                        <li class="pr-32"> <a aria-label="link menu superior" class="menu-desktop" href="/">Home </a> </li>
                        <li class="pr-32"> <a aria-label="link menu superior" class="menu-desktop" href="/parrillas"> Parrillas </a></li>
                                <li> <a aria-label="link menu superior" class="menu-mobile-li" href="/parrillas2"> Parrillas2 </a> </li>
             
                    </ul>
                </div>
            </div>


        </div>
    </div>
    </div>
    </div>

</header>