
  <product-view class="p-view">
    <div class="charged">
      <div class="card9-wrap" id="19854077">
        <div class="card9">
          <div class="js-card9-inner rat-3-4">
            <div class="rat-content">
              <div class="relative" style="height: 100%">
                <product-view-media 4="">
                  <div class="product-view-wrap">
                    <picture><a class="card9-link" href="/es/camiseta-manga-corta-cuello-contraste-l01419289">
                        <div product-img="" imgfallback="" class="img-poster">
                          <img height="auto" rel="preload" class="card9-image" id=""
                            src="https://static.massimodutti.net/3/photos/2023/V/0/2/p/1419/289/251/1419289251_2_6_16.jpg"
                            alt="Camiseta manga corta cuello contraste"  />
                        </div>
                      </a></picture>
                  </div>
                </product-view-media><product-view-addtocart class="card9-add text-center" 6="">
                  <div class="tit-xs mb-8 quickly-add-cart">AÑADIR TALLA</div>
                  <product-size-selector class="is-flex content-center"="">
                    <ul class="btn-group product-size-selector">
                      <li class="product-size-selector__li w-100">
                        <button class="product-size-selector__button p-s">
                          <span>S</span></button><button class="product-size-selector__button p-s">
                          <span>M</span></button><button class="product-size-selector__button p-s">
                          <span>L</span></button><button class="product-size-selector__button p-s">
                          <span>XL</span></button><button class="product-size-selector__button p-s">
                          <span>XXL</span>
                        </button>
                      </li>
                    </ul>
                  </product-size-selector>
                </product-view-addtocart>
              </div>
            </div>
          </div>
          <product-view-details class="card9-view-details">
            <div class="card9-wrap-details">
              <div class="card9-contents pt-16">
                <div class="p-s ttu name-width-product has-ellipsis">
                  <a class="pointer" href="/es/camiseta-manga-corta-cuello-contraste-l01419289">
                    Camiseta manga corta cuello contraste
                  </a>
                </div>
                <product-prices class="p-s">
                  <div class="product-price mb-8">
                    <formatted-price>
                      <div class="is-flex flex-wrap text-nowrap">
                        <div class="">
                          <span class="primary p-s"> 19,95 € </span>
                        </div>
  
                        <div class="">
                          <span class="c-feel-dark p-s-b"><label class="p-s">
                              -20% <label class="">*</label></label>
                            15,95 €
                          </span>
                        </div>
                      </div>
                    </formatted-price>
                  </div>
                  <div class="mb-8">
                    <div class="c-feel-dark cta-text-underline p-s-b">
                      Únete y compra
                    </div>
                  </div>
                </product-prices>
                <div class="product-view-info">
                  <product-color-selector class="color-wrap" 0="">
                    <div  class="product-color-selector">
                      <div  class="product-color-buttons">
                        <button  title="CRUDO" class="is-active">
                          <div  class="color-selector is-flex">
                            <img  loading="lazy"
                              src="https://static.massimodutti.net/3/photos//2023/V/0/2/p/1419/289/251/1419289251_2_6_16.jpg"
                              alt="CRUDO" />
                          </div>
                        </button><button  title="AZUL MARINO" class="">
                          <div  class="color-selector is-flex">
                            <img  loading="lazy"
                              src="https://static.massimodutti.net/3/photos//2023/V/0/2/p/1419/289/251/1419289251_2_6_16.jpg"
                              alt="AZUL MARINO" />
                          </div>
                        </button><button  title="NEGRO" class="">
                          <div  class="color-selector is-flex">
                            <img  loading="lazy"
                              src="https://static.massimodutti.net/3/photos//2023/V/0/2/p/1419/289/251/1419289251_2_6_16.jpg"
                              alt="NEGRO" />
                          </div>
                        </button><button  title="VERDE AZUL" class="">
                          <div  class="color-selector is-flex">
                            <img  loading="lazy"
                              src="https://static.massimodutti.net/3/photos//2023/V/0/2/p/1419/289/251/1419289251_2_6_16.jpg"
                              alt="VERDE AZUL" />
                          </div>
                        </button><button  aria-label="More colors"
                          class="color-selector"></button>
                      </div>
                    </div>
                  </product-color-selector>
                </div>
  
                <div class="tag-wrapper">
                  <span class="product-tag p-xs-b"> BEST SELLER </span>
                </div>
              </div>
            </div>
          </product-view-details>
        </div>
      </div>
    </div>
  </product-view>
