<product-view class="p-view">
  <div class="charged">
    <div class="card9-wrap" id="31698709">
      <div class="card9">
        <div class="js-card9-inner rat-3-4">
          <div class="rat-content">
            <div class="relative" style="height: 100%;">
              <product-view-media>
                <div class="product-view-wrap">
                  <picture>
                    <a class="card9-link" href="/es/camiseta-manga-corta-algodon-mercerizado-l01415288">
                      <div product-img="" class="img-poster">
                        <img imgfallback="" height="auto" rel="preload" class="card9-image" id="" src="https://axineccstwcsalb1.central.inditex.grp/3/photos//2023/I/0/2/p/1415/288/802/01/1415288802_2_8_16.jpg?t=1692687857942&amp;impolicy=massimodutti-itxmediumhigh&amp;imwidth=600&amp;imformat=chrome" alt="Camiseta manga corta algodón mercerizado">
                      </div>
                    </a>
                  </picture>
                </div>
              </product-view-media>
              <product-view-addtocart class="card9-add text-center">
                <div class="p-s mb-8">AÑADIR TALLA</div>
                <product-size-selector class="is-flex content-center">
                  <ul class="btn-group product-size-selector">
                    <li class="product-size-selector__li w-100">
                      <button class="product-size-selector__button p-m-m product-size-selector__button--disabled" disabled="">
                        <span>S</span>
                      </button>
                      <button class="product-size-selector__button p-m-m">
                        <span>M</span>
                      </button>
                      <button class="product-size-selector__button p-m-m">
                        <span>L</span>
                      </button>
                      <button class="product-size-selector__button p-m-m">
                        <span>XL</span>
                      </button>
                      <button class="product-size-selector__button p-m-m">
                        <span>XXL</span>
                      </button>
                    </li>
                  </ul>
                </product-size-selector>
              </product-view-addtocart>
            </div>
          </div>
        </div>
        <product-view-details class="card9-view-details">
          <div class="card9-wrap-details">
            <div class="card9-contents pt-16">
              <div class="is-flex content-sp-between">
                <div class="p-m ttu product-title name-width-product has-ellipsis mb-4 product-with-colors">
                  <a class="pointer" href="/es/camiseta-manga-corta-algodon-mercerizado-l01415288"> Camiseta manga corta algodón mercerizado </a>
                </div>
                <div class="product-view-info">
                  <product-view-color-selector class="color-wrap color-square mb-8">
                    <div class="product-color-selector">
                      <div class="product-color-buttons is-flex flex-vcenter">
                        <button title="GRIS">
                          <div class="is-flex">
                            <img loading="lazy" src="https://axineccstwcsalb1.central.inditex.grp/3/photos//2023/I/0/2/p/1415/288/802/1415288802_3_1_7.jpg?t=1689688739282&amp;impolicy=massimodutti-itxmediumhigh&amp;imwidth=100&amp;imformat=chrome" alt="GRIS">
                          </div>
                        </button>
                        <button aria-label="More colors" class="color-selector p-s"> +1 </button>
                      </div>
                    </div>
                  </product-view-color-selector>
                </div>
              </div>
              <product-prices class="p-s">
                <div class="product-price">
                  <formatted-price>
                    <div class="is-flex flex-wrap text-nowrap">
                      <div>
                        <span class="primary p-m"> 19,95&nbsp;€ </span>
                      </div>
                    </div>
                  </formatted-price>
                </div>
              </product-prices>
              <div class="product-view-info"></div>
              <div class="tag-wrapper grid-product-list"></div>
              <div class="is-flex"></div>
            </div>
          </div>
        </product-view-details>
      </div>
    </div>
  </div>
</product-view>