@import '../abstract/_all.scss';

$grid-cols--1CC: 2;

.grid-product-wrap--1CC {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 16px;
    @include details-pmobile-pdesktop;
    @include colors-pmobile-pdesktop;

    @media (min-width: $break-sm) {
        grid-template-columns: repeat(12, 1fr);
        .grid-product-list--1CC {
            grid-column: span 6;
            &:nth-child(odd) {
                @include colors-pmobile-0;
            }
            &:nth-child(even) {
                @include details-pmobile-0;
            }
        }
    }
}