@import "../abstract/_all.scss";
@import "../abstract/_categoryGrid.scss";
//@import '../../../../../../../../../../app/shared/product/components/product-skeleton/product-skeleton.component.scss';

$break-sm--2SD: 767px;
$product-details-padding--2SD: 16px;
$product-details-padding-mobile--2SD: 24px;

// .grid-product-wrap--2SD {
// 	@include grid-product-view-full-bleed
// }

// .grid-product-list--2SD {
// 	width: 50%;
// 	.video-wrap {
// 		align-items: flex-start;
// 	}
// }

// .grid-product-wrap--2SD .card9-contents {
// 	padding-left: $product-details-padding--2SD;
// }

// .grid-product-wrap--2SD > :not(.grid-product-list--2SD-even) .card9-wrap-details {
// 	top: calc(50% - 73px);
// }

// @media (max-width: $break-sm--2SD) {
// 	.grid-product-wrap--2SD .card9-contents {
// 		padding-left: $product-details-padding-mobile--2SD;
// 	}

// 	.grid-product-list--2SD {
// 		width: 100%;
// 	}

// 	.grid-product-wrap--2SD > :not(.grid-product-list--2SD-even) .card9-wrap-details {
// 		top: auto;
// 	}

// 	.grid-product-wrap--2SD > :not(.grid-product-list--2SD-even) .sk-load::before {
// 		padding-top: calc(66.6667% + 126px);
// 	}
// }

// .is-rtl {
// 	.grid-product-wrap--2SD {
// 		@include grid-product-view-full-bleed-rtl
// 	}

// 	.grid-product-wrap--2SD .card9-contents {
// 		padding-right: $product-details-padding--2SD;
// 	}

// 	@media (max-width: $break-sm) {
// 		.grid-product-wrap--2SD .card9-contents {
// 			padding-right: $product-details-padding-mobile--2SD;
// 		}
// 	}
// }

.grid-product-wrap--2SD {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 0;
  @include details-pmobile-pdesktop;
  @media (min-width: $break-sm) {
    grid-template-columns: repeat(12, 1fr);
    .grid-product-list--2SD {
      grid-column: span 6;
      align-self: start;
    }
  }

  .grid-product-list--2SD:last-child() {
    &::before {
      padding-top: calc(66.6667% + 136px);
    }
  }

  .card9 .card9-wrap-details {
    position: static;
  }
}
