@import "../abstract/_all.scss";

$break-sm--2D: 768px;
$sm-grid-view1-gutter--2D: 8px;

// .grid-product-wrap--2D {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// 	margin-left: 0;
// 	margin-top: $sm-grid-top-margin;
//     margin-bottom: $sm-grid-bottom-margin;

//     @media (min-width: $break-sm) {
//         margin-top: $grid-top-margin;
//         margin-bottom: $grid-bottom-margin;
//         display: flex;
//         flex-direction: row;
//         flex-wrap: wrap;
//         justify-content: space-between;
//         align-items: center;
// 	}

// 	.grid-product-list--2D-1 {
// 		width: 100%;

// 		@media (min-width: $break-sm--2D) {
// 			width: calc( ((100% / 2.4) + (#{$sm-grid-view1-gutter--2D})) - #{$sm-grid-view1-gutter--2D} );
//             margin-left:calc(100% / 24) ;
// 		}
// 	}

// 	.grid-product-list--2D {
//         width: calc( ((100% / 2) + (#{$sm-grid-view1-gutter--2D})) - #{$sm-grid-view1-gutter--2D} );

// 		@media (min-width: $break-sm--2D) {
// 			width: calc( ((100% / 4) + (#{$sm-grid-view1-gutter--2D})) - #{$sm-grid-view1-gutter--2D} );
//             margin-right:calc(100% / 8) ;
// 		}
// 	}
// }

.grid-product-wrap--2D {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 0;
  @include details-pmobile-0;
  @media (min-width: $break-sm) {
    gap: 16px;
    grid-template-columns: repeat(12, 1fr);
    .grid-product-list--2D-1 {
      grid-column: 2 / span 5;
    }
    .grid-product-list--2D {
      grid-column: 9 / span 3;
      align-self: center;
    }
  }
}
