@import "../abstract/_all.scss";


.grid-product-wrap--2E {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 0;
  @include details-pmobile-0;
  @include colors-pmobile-0;
  @media (min-width: $break-sm) {
    gap: 16px;
    grid-template-columns: repeat(12, 1fr);
    .grid-product-list--2E {
      grid-column: span 6;
    }
  }
}
