@import "../abstract/_all.scss";
@import "../abstract/_categoryGrid.scss";

.grid-product-wrap--1G {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;

    @include details-pmobile-0;
    @include colors-pmobile-0;
    @media (min-width: $break-sm) {
        gap: 16px;
        grid-template-columns: repeat(12, 1fr);
        .grid-product-list--1G {
            grid-column: 3 / span 8;
        }
    }
}
