@import '../abstract/_all.scss';
@import '../abstract/_categoryGrid.scss';

@import '../abstract/_all.scss';

.look-slider-wrap {
    @include grid-product-view-bleed;
}

.is-rtl .look-slider-wrap {
    @include grid-product-view-bleed-rtl;
}

.zarastudio-look-slider-mobile {
    margin: 40px 0px;

    &.swiper-nat {
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow-y: scroll;
        position: relative;

        .swiper-nat-inner {
            height: 450px;

            .rat-content {
                position: relative;
                height: 100%;
                width: auto;
            }
        }

        @media (min-width: $break-sm) {
            position: relative;
        }

        .swiper-thumbs {
            width: auto !important;
            height: 100%;
            margin: 0px;

            &:last-child {
                margin-right: 0;
            }

            @media (max-width: #{$break-sm - 1}) {
                width: 38vw;

                &:last-child {
                    margin-right: 0;
                }
            }

            .p-view {
                position: relative;
            }

            @media (min-width: $break-sm) {
                width: 20vw;
            }
        }

        &.grid-swiper-wrap .rat-3-4:before {
            display: none;
        }
    }

    &.swiper-nat::-webkit-scrollbar {
        display: none;
    }

    .swiper-thumbs {
        .p-view {
            @media (max-width: 1279px) {
                position: relative !important;
            }
        }
    }

    .product-view-wrap,
    .card9 .js-card9-inner {
        height: 100%;
    }

    .swiper-container {
        width: auto;
        height: 100%;
    }

    .grid-swiper-wrap {
        @media (max-width: #{$break-sm - 1}) {
            width: 100%;
        }

        @media (max-width: 1279px) {
            &.mobile-center-monoprod {
                justify-content: flex-start;
            }
        }

        ::ng-deep .card9-wrap-details {
            position: relative;
        }
    }

    .card9-link .img-poster img {
        width: auto;
        height: 100%;
    }

}

.zarastudio-look-slider {
    margin: 40px 0px;

    &.grid-swiper-wrap {
        height: calc(100vh - 440px);
        min-height: 500px;
        width: 100%;

        .rat-3-4 {
            .rat-content {
                position: relative;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                height: 100%;
            }

            &:before {
                display: block;
                content: "";
                width: auto;
                padding-top: 0;
            }
        }

        @media (max-width: #{$break-sm - 1}) {
            width: 100%;
        }

        @media (max-width: 1279px) {
            &.mobile-center-monoprod {
                justify-content: flex-start;
            }
        }

        ::ng-deep .card9-wrap-details {
            position: relative;
        }
    }

    .swiper-slide {
        width: auto;
        flex-shrink: 100;
    }

    product-view-details,
    product-view-addtocart {
        display: none;
    }

    product-view-wrap {
        height: 100%;
    }

    .p-view {
        position: relative;
        width: 100%;
    }

    .swiper-wrapper {
        width: max-content;
    }

    .swiper-container {
        width: auto;
        height: 100%;
    }

    .product-view-wrap,
    .card9 .js-card9-inner {
        height: 100%;
    }

    .card9-link .img-poster img {
        width: auto;
        height: 100%;
    }
}


.swiper-carrousel-prev,
.swiper-carrousel-next {
    position: relative;
    cursor: pointer;

    &::before {
        content: "";
        width: 32px;
        height: 32px;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0px;
        margin: auto;
        border-radius: 50%;
        border: $c-primary 1px solid;

    }

    &:hover {
        &::before {
            border: $c-middle-grey 1px solid;
            background-color: $c-middle-grey;
        }
    }
}