@import "../abstract/_all.scss";
@import "../abstract/_categoryGrid.scss";
//@import '../../../../../../../../../../app/shared/product/components/product-skeleton/product-skeleton.component.scss';

$product-details-padding: 16px;
$product-details-padding-mobile: 24px;

// .grid-product-wrap--2FDoble {
//     @include grid-product-view-full-bleed;

//     .grid-product-list--2FDoble {
//         width: 100%;

//         @media (min-width: $break-sm) {
//             width: 50%;
//         }
//     }

//     .card9-contents {
//         padding-left: $product-details-padding;
//     }

//     @media (max-width: #{$break-sm}) {
//         .card9-contents {
//             padding-left: $product-details-padding-mobile;
//         }
//     }
// }

// .is-rtl {
//     .grid-product-wrap--2FDoble {
//         @include grid-product-view-full-bleed-rtl;
//     }

//     .card9-contents {
//         padding-right: $product-details-padding;
//     }

//     @media (max-width: #{$break-sm}) {
//         .card9-contents {
//             padding-right: $product-details-padding-mobile;
//         }
//     }
// }

.grid-product-wrap--2FDoble {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 0;
  @include details-pmobile-pdesktop;
  @media (min-width: $break-sm) {
    grid-template-columns: repeat(12, 1fr);
    .grid-product-list--2FDoble {
      grid-column: span 6;
    }
  }
}
