@import "../abstract/_all.scss";
@import "../abstract/_categoryGrid.scss";

$product-details-padding: 16px;
$product-details-padding-mobile: 24px;

.grid-product-wrap--2FDoble {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 0;
  @include details-pmobile-pdesktop;
  @include colors-pmobile-pdesktop;
  @media (min-width: $break-sm) {
    grid-template-columns: repeat(12, 1fr);
    .grid-product-list--2FDoble {
      grid-column: span 6;
    }
  }
}
