@import '../abstract/_all.scss';
@import "../abstract/_gridNEW.scss";



// .grid-product-wrap--1F {

// 	@include space-pmobile-pdesktop;

// 	.grid-product-list--1F {



// 		@media (min-width: $break-sm) {
// 			width: calc((((100% / 12) * 8)) - 4px);
// 		}
// 	}




// }


.grid-product-wrap--1F {
	display: grid;
	grid-template-columns:  1fr 0;
	gap: 0;
	@include space-pmobile-pdesktop;



	@media (min-width: $break-sm) {
	  gap: 16px;
	  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr  ;
	  grid-template-rows: auto;
	}
	.grid-product-list--1F {
     grid-area: 1 / 1 / 2 / 9; }
  

  }
  
