@import '../abstract/_all.scss';
@import "../abstract/_categoryGrid.scss";


.grid-product-wrap--1LE {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 16px;
    @media (min-width: $break-sm) {
        gap: 50px;
        margin-bottom: 50px;
  
    }
}

.grid-product-wrap--1LE .grid-product-list--1LE {
    grid-column: span 6;
    @media (min-width: $break-sm) {
        grid-column: span 4;
    }
}

