@import "../abstract/_all.scss";
@import "../abstract/_gridNEW.scss";

// .grid-product-wrap--1F {

// 	@include space-pmobile-pdesktop;

// 	.grid-product-list--1F {

// 		@media (min-width: $break-sm) {
// 			width: calc((((100% / 12) * 8)) - 4px);
// 		}
// 	}

// }

.grid-product-wrap--1F {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  @include space-pmobile-pdesktop;
  @include details-pmobile-0;
  @include colors-pmobile-0;

  @media (min-width: $break-sm) {
    gap: 16px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
  }
  .grid-product-list--1F {
    grid-column: span 8;
  }
}
