@import "../abstract/_all.scss";
$MINIGRID-INFO-COLS: 3;
$MINIGRID-INFO-GUTTER: 16px;
$MINIGRID-INFO-GUTTER-SM: 8px;
// .grid-product-wrap--MINIGRID-INFO {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: flex-start;
//   gap: 16px;
//   .grid-product-list--MINIGRID-INFO {
//     flex-basis: calc( (100% / $MINIGRID-INFO-COLS) - ((#{$MINIGRID-INFO-GUTTER-SM} * 2) / 3) );
//   }
//   @media (min-width: $break-sm) {
//     gap: 16px;
//     .grid-product-list--MINIGRID-INFO {
//       flex-basis: calc( (100% / $MINIGRID-INFO-COLS) - ((#{$MINIGRID-INFO-GUTTER} * 2) / 3) );
//     }
//   }
// }

.grid-product-wrap--MINIGRID-INFO {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 8px;

  @include details-pmobile-0;
  @include colors-pmobile-0;
  .grid-product-list--MINIGRID-INFO:nth-child(3n+1) {
    @include details-pmobile-pdesktop;
}
.grid-product-list--MINIGRID-INFO:nth-child(3n) {
  @include colors-pmobile-pdesktop;
}

  @media (min-width: $break-sm) {
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;
  }
}
