@import '../abstract/_all.scss';

$grid-cols--MINIGRID: 3;

// .grid-product-wrap--MINIGRID {
//     margin-top: $sm-grid-top-margin;
//     margin-bottom: $sm-grid-bottom-margin;

//     @media (min-width: $break-sm) {
//         margin-top: $grid-top-margin;
//         margin-bottom: $grid-bottom-margin;
//     }
//     margin-left: 0;
//     display: flex;
//     align-items: baseline;
//     flex-direction: row;
//     flex-wrap: wrap;
//     width: 100%;
//     list-style: none;

//     .grid-product-list--MINIGRID {
//         &:nth-child(3n) {
//             margin-right: 0;
//         }

//         margin-right: 8px;
//         margin-bottom: 8px;
//         width: calc(100% / #{$grid-cols--MINIGRID} - (16px / 3));

//         @media (min-width: $break-sm) {
//             margin-right: 16px;
//             margin-bottom: 16px;
//             width: calc(100% / #{$grid-cols--MINIGRID} - (32px / 3));
//         }
//     }
// }

// .is-rtl {
//     .grid-product-wrap--MINIGRID {
//         .grid-product-list--MINIGRID {
//             &:nth-child(3n) {
//                 margin-left: 0;
//             }

//             margin-right: 0px;
//             margin-left: 8px;

//             @media (min-width: $break-sm) {
//                 margin-right: 0px;
//                 margin-left: 16px;
//             }
//         }
//     }
// }

.grid-product-wrap--MINIGRID {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 8px;

    @include details-pmobile-first;
    .grid-product-list--MINIGRID-INFO:first-child {
        .card9-wrap-details {
            padding-left: 16px;
        }
    }

    @media (min-width: $break-sm) {
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }
}