@import '../abstract/_all.scss';

$grid-cols--4S: 4;
$grid-cols-mobile--4S: 2;
$margin-grid-cols--4S: 60px;
$margin-grid-cols-mobile--4S: 10px;

.grid-product-wrap--4S {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    @include details-pmobile-0;
    @media (min-width: $break-sm) {
        gap: 64px;
        padding: 0 64px;
        grid-template-columns: repeat(4, 1fr);
    }
}

.grid-product-list {
    &.grid-product-list--4S:nth-child(even) .card9 .card9-wrap-details {
        padding-right: $separacion-details-mobile;
    }
    &.grid-product-list--4S:first-child .card9 .card9-wrap-details {
        @media (min-width: $break-sm) {
            padding-left: $separacion-details-desktop;
        }
    }
    &.grid-product-list--4S:nth-child(4n) .card9 .card9-wrap-details {
        @media (min-width: $break-sm) {
            padding-right: $separacion-details-desktop;
        }
    }
    &.grid-product-list--4S .card9 .card9-wrap-details {
        @media (max-width: #{$break-md - 1} ) {
            padding-right: $separacion-details-mobile;
            padding-left: $separacion-details-mobile;
        }
    }
}