@import "../abstract/_all.scss";
@import "../abstract/_categoryGrid.scss";
// cambio @import "../../../../../../../../../../app/shared/product/components/product-skeleton/product-skeleton.component.scss";

$break-sm--2DS: 767px;
$product-details-padding--2DS: 16px;
$product-details-padding-mobile--2DS: 24px;

.grid-product-wrap--2DS {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 0;
  @include details-pmobile-pdesktop;
  @include colors-pmobile-pdesktop;
  @media (min-width: $break-sm) {
    grid-template-columns: repeat(12, 1fr);
    .grid-product-list--2DS {
      grid-column: span 6;
	  align-self: start;
    }
  }

  .grid-product-list--2DS{
    &:nth-child(odd) {
      &::before {
        padding-top: calc(66.6667% + 136px);
      }
    }
    &:nth-child(even) {
      @include details-pmobile-0;
    }
  }

  .card9 .card9-wrap-details {
	position: static;
  }
}
