@import "../abstract/_all.scss";
@import "../abstract/_categoryGrid.scss";

$break-sm--2SD: 767px;
$product-details-padding--2SD: 16px;
$product-details-padding-mobile--2SD: 24px;


.grid-product-wrap--2SD {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 0;
  @include details-pmobile-pdesktop;
  @include colors-pmobile-pdesktop;
  @media (min-width: $break-sm) {
    grid-template-columns: repeat(12, 1fr);
    .grid-product-list--2SD {
      grid-column: span 6;
      align-self: start;
    }
  }

  .grid-product-list--2SD {
    &:nth-child(odd) {
      @include colors-pmobile-0;
    }
    &:nth-child(even) {
      &::before {
        padding-top: calc(66.6667% + 136px);
      }
    }
  }

  .card9 .card9-wrap-details {
    position: static;
  }
}
