/* Error: Undefined variable.
 *     ,
 * 138 |       padding-top: $grid-2CBG2-padding;
 *     |                    ^^^^^^^^^^^^^^^^^^^
 *     '
 *   src/assets/sass/parrillas2/_grid-2CBG2.scss 138:20  @import
 *   src/assets/sass/parrillas2/_all.scss 10:9           @import
 *   src/assets/sass/style2.scss 21:9                    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a     \2577 \a 138 \2502        padding-top: $grid-2CBG2-padding;\a     \2502                     ^^^^^^^^^^^^^^^^^^^\a     \2575 \a   src/assets/sass/parrillas2/_grid-2CBG2.scss 138:20  @import\a   src/assets/sass/parrillas2/_all.scss 10:9           @import\a   src/assets/sass/style2.scss 21:9                    root stylesheet";
}
