@import "_variables.scss";



@mixin space-0-40 {
  padding-left: 0;
  padding-right: 0;
  @media (min-width: $break-md) {
    padding-left: 40px;
    padding-right: 40px;
  }
  .card9-wrap-details {
    padding-left: 16px;
    @media (min-width: $break-md) {
      padding-left: 0;
    }
  }
}


@mixin space-0-0 {
  padding-left: 0;
  padding-right: 0;
  @media (min-width: $break-md) {
    padding-left: 0;
    padding-right: 0;
  }
}
@mixin space-16-40 {
  padding-left: 16px;
  padding-right: 16px;
  @media (min-width: $break-md) {
    padding-left: 40px;
    padding-right: 40px;
  }
}
