$container: 992px;



$btn-radius: var(--btn-radius);
$padding-global: 16px; //no permite operaciones matematicas

$c-white: #ffffff;
$c-black: #212121;

$c-dark-grey: #8e8e8e;
$c-middle-grey: #e3e3e3;
$c-light-grey: #f0f0f0;

$c-error: #b40016;
$c-info: #1a32a4;


$height-md: 200px;
$height-xl: 450px !default;









$headers:/* name:mobile,768,992,1280,line-height,font */ (
h1: ( 32px, 32px, 32px, 40px, 1.2, "medium", ), 
h2: ( 24px, 24px, 24px, 32px, 1.2, "light", ), 
h3: ( 18px, 18px, 18px, 24px, 1.2, "medium", ), 
h4: ( 16px, 16px, 16px, 18px, 1.2, "bold", ), 
h5: ( 16px, 16px, 16px, 16px, 1.2, "bold", ), 
h6: ( 12px, 12px, 12px, 14px, 1.2, "medium", ),
h7: ( 10px, 10px, 10px, 12px, 1.2, "medium", ),
h8: ( 8px, 8px, 8px, 10px, 1.2, "medium", ), 
h9: ( 12px, 16px, 16px, 18px, 1.2, "medium", ), 

p1: ( 14px, 14px, 14px, 14px, 1.4, "regular", ), 
p2: ( 14px, 14px, 16px, 18px, 1.4, "regular", ), 
p3: ( 12px, 14px, 14px, 14px, 1.4, "regular", ), 
p4: ( 14px, 14px, 16px, 18px, 1.4, "medium", ), );

$headersFluids: (
  /*name :  fontsize, lineheight */ 12: (12px, 14px, 0.3),
  9: (14px, 18px, 1.2),
  8: (16px, 24px, 1.2),
  7: (18px, 32px, 1),
  6: (20px, 40px, 0.9),
  5: (30px, 48px, 0.8),
  4: (40px, 64px, 0.9),
  3: (40px, 80px, 0.9),
  2: (40px, 100px, 0.9),
  1: (60px, 160px, 0.8)
) !default;


$font-family-a-l: "font-light", Helvetica, "Arial ", "Lucida Grande", sans-serif;
$font-family-a-r: "font-regular", Helvetica, "Arial ", "Lucida Grande",
  sans-serif;
$font-family-a-m: "font-regular", Helvetica, "Arial ", "Lucida Grande",
  sans-serif;
$font-family-a-b: "font-bold", Helvetica, "Arial ", "Lucida Grande", sans-serif;

$font-family-b-r: "font-regular", Helvetica, Arial, sans-serif;
$font-family-b-m: "font-regular", Helvetica, "Arial", sans-serif;
$font-family-b-b: "font-regular", Helvetica, "arial black", sans-serif;

$font-family-c-r: "ms-serif", serif;
$font-family-c-m: "ms-serif", serif;
$font-family-c-b: "ms-serif", serif;

$font-weight-light: inherit;
$font-weight-regular: inherit;
$font-weight-medium: inherit;
$font-weight-bold: inherit;

$font-family-form-placeholder: "font-regular";
$font-family-form: "font-regular";









/** font-family: 'Playfair Display', serif; **/

$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-medium: 600;
$font-weight-bold: 900;

$font-family-secondary: "Playfair Display", serif;

$font-weight-secondary-light: 200;
$font-weight-secondary-regular:400;
$font-weight-secondary-medium: 700;
$font-weight-secondary-bold: 900;





$pt: 'padding-top';
$padding-top: (
  pt-4: ( 4px, 4px, 4px, 4px, ),
   pt-8: ( 8px, 8px, 8px, 8px, ), 
   pt-16: ( 16px, 16px, 16px, 16px, ), 
   pt-24: ( 24px, 24px, 24px, 24px, ), 
   pt-32: ( 32px, 32px, 32px, 32px, ), 
   pt-40: ( 40px, 40px, 40px, 40px, ), 
   pt-48: ( 20px, 48px, 48px, 48px, ), 
   pt-64: ( 64px, 64px, 64px, 64px, ), 
   ptr-120: ( 64px, 64px, 120px, 120px, ),
) !default;

$pb: 'padding-bottom';
$padding-bottom: (
  pb-4: ( 4px, 4px, 4px, 4px, ),
   pb-8: ( 8px, 8px, 8px, 8px, ), 
   pb-16: ( 20px, 20px, 20px, 20px, ), 
   pb-24: ( 24px, 24px, 24px, 24px, ), 
   pb-32: ( 32px, 32px, 32px, 32px, ), 
   pb-40: ( 40px, 40px, 40px, 40px, ), 
   pb-48: ( 48px, 48px, 48px, 48px, ),
   pb-64: ( 64px, 64px, 64px, 64px, ),
   pbr-120: ( 64px, 64px, 120px, 120px, ),
   
   ) !default;

   $mb: "margin-bottom";
   $margin-bottom: (
      mb-8: ( 8px, 8px, 8px, 8px, ), 
      mb-16: ( 16px, 16px, 16px, 16px, ),
      mb-24: ( 24px, 24px, 24px, 24px, ), 
      mb-32: ( 32px, 32px, 32px, 32px, ), 
      mb-40: ( 40px, 40px, 40px, 40px, ), 
      mb-48: ( 48px, 48px, 48px, 48px, ), 
      mb-64: ( 64px, 64px, 64px, 64px, ), 
      mb-82: ( 82px, 82px, 82px, 82px, ),
      mb-100: ( 100px, 100px, 100px, 100px, ), 
      mbr-50-100: ( 50px, 50px, 100px, 100px, ), 
      mbr-24: ( 16px, 24px, 24px, 24px, ), 
      mbr-32: ( 24px, 32px, 32px, 32px, ), 
      mbr-64: ( 32px, 64px, 64px, 64px, ), 
      mbr-128: ( 64px, 128px, 128px, 128px, ),
   ); //todo giftcard mbr-20-40: ( 20px, 40px, 40px, 40px, ), ) !default;
   
   $pt: "padding-top";
   $padding-top: (
      pt-8: ( 8px, 8px, 8px, 8px, ), 
      pt-16: ( 16px, 16px, 16px, 16px, ),
      pt-24: ( 24px, 24px, 24px, 24px, ), 
      pt-32: ( 32px, 32px, 32px, 32px, ), 
      pt-40: ( 40px, 40px, 40px, 40px, ), 
      pt-48: ( 20px, 48px, 48px, 48px, ), 
      pt-64: ( 64px, 64px, 64px, 64px, ), 
      ptr-64: ( 32px, 32px, 50px, 64px, ),
      ptr-120: ( 64px, 64px, 100px, 120px, ),
   );
   
   $pb: "padding-bottom";
$padding-bottom: ( 
  pb-8: ( 8px, 8px, 8px, 8px, ), 
  pb-16: ( 20px, 20px, 20px, 20px, ),
  pb-24: ( 24px, 24px, 24px, 24px, ),
  pb-32: ( 32px, 32px, 32px, 32px, ),
  pb-40: ( 40px, 40px, 40px, 40px, ), 
  pb-48: ( 48px, 48px, 48px, 48px, ), 
  pb-64: ( 64px, 64px, 64px, 64px, ), 
  pbr-64: ( 32px, 32px, 50px, 64px, ), 
  pbr-120: ( 64px, 64px, 100px, 120px, ), );