
Parrilla 1
<section class="container-full">
    <div class="row">
        <div class="col-xs-3">

{% include 'components/producto.njk' %}
        </div>
                <div class="col-xs-3">

{% include 'components/producto.njk' %}
        </div>
                <div class="col-xs-3">

{% include 'components/producto.njk' %}
        </div>
                        <div class="col-xs-3">

{% include 'components/producto.njk' %}
        </div>
    </div>
</section>