Parrilla 2
<section class="container-full">
    <div class="row">

                <div class="col-xs-6">

{% include 'components/producto.njk' %}
        </div>
                <div class="col-xs-6">

{% include 'components/producto.njk' %}
        </div>

    </div>
</section>