{% import "macros/_product.njk" as product %}

<li class="grid-product grid-product-view template-2B">
  <div class="template-name" id="2B">2B</div>
  <studio-multi-product-template>
    <ul class="grid-product-wrap--2B grid-product__section">
      <li class="grid-product-list grid-product-list--2B sk-load2">
        {% call product.ratio('3-4') %} {% endcall %}
      </li>
      <li class="grid-product-list grid-product-list--2B sk-load2">
        {% call product.ratio('3-4') %} {% endcall %}
      </li>
    </ul>
  </studio-multi-product-template>
</li>