{% import "macros/_product.njk" as product %}



<ul class="grid-product-wrap--5A">
<div class="template-name" id="5A">5A</div>
  <li class="grid-product-list grid-product-list--5A sk-load6">

    {% call product.ratio('3-4','') %} {% endcall %}


  </li>
  <li class="grid-product-list grid-product-list--5A">
    <div class="otherProduct-5A">
        {% call product.ratio('3-4','') %} {% endcall %}
    </div>
    <div class="otherProduct-5A">
        {% call product.ratio('3-4','') %} {% endcall %}
    </div>
    <div class="otherProduct-5A">
        {% call product.ratio('3-4','') %} {% endcall %}
    </div>
    <div class="otherProduct-5A">
        {% call product.ratio('3-4','') %} {% endcall %}
    </div>
    <!---->
  </li>
</ul>
