{% import "macros/_product.njk" as product %}

<li class="grid-product grid-product-view template-Minigrid">
  <div class="template-name" id="MINIGRID">MINIGRID</div>

  <studio-multi-product-template>
    <ul class="grid-product-wrap--MINIGRID">
      <li class="grid-product-list grid-product-list--MINIGRID sk-load6">
        {% call product.ratio('3-4','no-text') %} {% endcall %}
      </li>
      <li class="grid-product-list grid-product-list--MINIGRID sk-load6">
        {% call product.ratio('3-4','no-text') %} {% endcall %}
      </li>
      <li class="grid-product-list grid-product-list--MINIGRID sk-load6">
        {% call product.ratio('3-4','no-text') %} {% endcall %}
      </li>
      <li class="grid-product-list grid-product-list--MINIGRID sk-load6">
        {% call product.ratio('3-4','no-text') %} {% endcall %}
      </li>
      <li class="grid-product-list grid-product-list--MINIGRID sk-load6">
        {% call product.ratio('3-4','no-text') %} {% endcall %}
      </li>
      <li class="grid-product-list grid-product-list--MINIGRID sk-load6">
        {% call product.ratio('3-4','no-text') %} {% endcall %}
      </li>

    </ul>
  </studio-multi-product-template>
</li>