{% import "macros/_product.njk" as product %}


<li class="grid-product grid-product-view template-2E">
  <div class="template-name" id="2E">2E</div>

  <studio-multi-product-template
    ><ul class="grid-product-wrap--2E grid-product__section">
      <li class="grid-product-list grid-product-list--2E sk-load2">
        {% call product.ratio('3-4','no-text') %} {% endcall %}
      </li>
      <li class="grid-product-list grid-product-list--2E sk-load2">
        {% call product.ratio('3-4','no-text') %} {% endcall %}
      </li>
      
    </ul>
    </studio-multi-product-template
  >
</li>
