{% import "macros/_product.njk" as product %}
<li class="grid-product grid-product-view template-FIV">
  <div class="template-name" id="FIV">FIV</div>
  <studio-single-product-template
    ><ul class="grid-product-wrap--FIV">
      <li class="grid-product-list grid-product-list--FIV sk-load7 w-100">


        {% call product.ratio('3-2','no-text') %} {% endcall %}




      </li>
    </ul>
    </studio-single-product-template
  >
</li>
