

<li class="grid-product grid-product-view template-SEPARATOR_25">

  <div class="template-name" id="SEPARATOR_25">SEPARATOR_25</div>
  <studio-single-product-template>
    <ul class="grid-product-wrap--separator25">
      <li class="grid-product-list grid-product-list--separator25 sk-load5">
        <product-view class="p-view">
          <div class="charging">
            <product-skeleton >
              <div  id="25324216"></div>
              <div  class="sk-wrap-2-3">
                <div  class="rat-2-3 bg-light">
                  <div  class="content"></div>
                </div>
              </div>
            </product-skeleton>
          </div>
        </product-view>
      </li>
    </ul>
  </studio-single-product-template>
</li>