<ul class="grid-product-wrap--1E">
    <h1 class="template-name" id="1E">1E</h1>
  <li class="grid-product-list grid-product-list--1E sk-load2">
    {% include 'components/producto.njk' %}
  </li>
</ul>
