{% import "macros/_product.njk" as product %}

<li class="grid-product grid-product-view template-SEC">
  <studio-single-product-template>
    <ul class="grid-product-wrap--limitedSeparator">
      <li class="grid-product-list grid-product-list--limitedSeparator sk-load5">
        <product-view-limited class="p-view">
          <div class="charged">
            <div class="card9-wrap" id="28520677">

              <div class="card9">
                <div class="js-card9-inner rat-3-2">
                  <div class="rat-content">
                    <div class="relative" style="height: 100%">
                      <product-view-media>
                        <div class="product-view-wrap">
                          <picture><a class="card9-link" href="/es/jersey-polo-punto-cable-l00905403">
                              <div product-img="" imgfallback="" class="img-poster">
                                <img height="auto" rel="preload" class="card9-image" id=""
                                  src="https://axineccstwcsalb1.central.inditex.grp/3/photos//2023/I/0/2/p/0905/403/710/04/0905403710_7_1_16.jpg?t=1685351823559&amp;impolicy=massimodutti-itxmediumhigh&amp;imwidth=1700&amp;imformat=chrome"
                                  alt="Jersey polo punto cable" width="1344" />
                              </div>
                            </a></picture>
                        </div>
                      </product-view-media>
                      <div class="is-flex content-sp-between w-100 limited-separator-data-content ttu h11">
                        <span>01</span><span>POLO</span>
                      </div>

                    </div>
                  </div>
                </div>

              </div>

            </div>
            <product-skeleton>
              <div id="28520677">
                <div style="width: 100%; height: 100%; position: absolute"></div>

              </div>
              <div class="sk-wrap-2-3">
                <div class="rat-2-3 bg-light">
                  <div class="content"></div>
                </div>

              </div>
            </product-skeleton>
          </div>
        </product-view-limited>
      </li>
    </ul>
  </studio-single-product-template>
</li>