{% import "macros/_product.njk" as product %}


<li class="grid-product grid-product-view template-2CBG2">
    <div class="template-name" id="2CBG2">2CBG2</div>
  <studio-multi-product-template
    ><div class="grid-2CBG2-wrap" style="background-color: rgb(211, 211, 211)">
      <ul class="grid-product-wrap--2CBG2">
        <li class="grid-product-list grid-product-list--2CBG2 sk-load2">
     {% call product.ratio('3-4','') %} {% endcall %}
        </li>
        <li class="grid-product-list grid-product-list--2CBG2 sk-load2">
     {% call product.ratio('3-4','') %} {% endcall %}
        </li>
      </ul>
    </div>
    </studio-multi-product-template
  >
</li>
