<ul class="grid-product-wrap--2C">
  <h1 class="template-name" id="2C">2C</h1>
  <li class="grid-product-list grid-product-list--2C sk-load2">
    {% include 'components/producto.njk' %}
  </li>
  <li class="grid-product-list grid-product-list--2C sk-load2">
    {% include 'components/producto.njk' %}
  </li>
</ul>
