<ul class="grid-product-wrap--1G">
  <h1 class="template-name" id="1G">1G</h1>
  <li class="grid-product-list grid-product-list--1G sk-load5">
    <product-view class="p-view">
      <div class="charged">
        <div class="card9-wrap" id="26608815">
          <div class="card9">
            <div class="js-card9-inner rat-3-2">
              <div class="rat-content">
                <div class="relative" style="height: 100%;">
                  <!---->
                  <product-view-media _nghost-mdfrontw-c164="">
                    <div _ngcontent-mdfrontw-c164="" class="product-view-wrap">
                      <picture _ngcontent-mdfrontw-c164="">
                        <!---->
                        <a _ngcontent-mdfrontw-c164="" class="card9-link" href="/es/chaqueta-trench-organza-studio-l09713954">
                          <!---->
                          <product-video _ngcontent-mdfrontw-c164="" _nghost-mdfrontw-c162="">
                            <div _ngcontent-mdfrontw-c162="" class="video-charged">
                              <div _ngcontent-mdfrontw-c162="" class="img-poster"><img _ngcontent-mdfrontw-c162="" rel="preload" height="auto" class="card9-image" alt="Product-26608815" src="https://axineccstwcsalb1.central.inditex.grp/3/photos//2023/V/0/1/p/9713/954/621/01/9713954621_13_9_16.jpg?t=1680510475110&amp;impolicy=massimodutti-itxmediumhigh&amp;imwidth=1200&amp;imformat=chrome"><!----></div>
                              <div _ngcontent-mdfrontw-c162="" class="video-wrap">
                                <div _ngcontent-mdfrontw-c162="" class="video-container">
                                  <video _ngcontent-mdfrontw-c162="" class="card9-image" id="video-26608815" playsinline="" loop="" autoplay="this.play()" oncanplay="this.play()" onloadedmetadata="this.muted = true" src="https://axineccstwcsalb1.central.inditex.grp/3/photos//2023/V/0/1/p/9713/954/621/01/9713954621_13_9_16.mp4?t=1680510475110"></video>
                                  <div _ngcontent-mdfrontw-c162="" class="video-controls">
                                    <button _ngcontent-mdfrontw-c162="" id="mute" type="button" role="button" aria-label="mute" data-state="mute" class="p-8">
                                      <svg-icon _ngcontent-mdfrontw-c162="" id="svg-unmute" src="v2/svg/audio_off" class="hidden" _nghost-mdfrontw-c44="">
                                        <div _ngcontent-mdfrontw-c44="">
                                          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">

                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.5 5.5H1.5V10.5H4.5V5.5ZM0 4V12H6V4H0Z" fill="black"></path>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.75005 0.5V15.5L4.55005 11.6L5.45005 10.4L8.25005 12.5V3.5L5.45005 5.6L4.55005 4.4L9.75005 0.5Z" fill="black"></path>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.5304 1.53033L1.53039 15.5303L0.469727 14.4697L14.4697 0.469666L15.5304 1.53033Z" fill="black"></path>
                                          </svg>
                                        </div>
                                        <!---->
                                      </svg-icon>
                                      <svg-icon _ngcontent-mdfrontw-c162="" id="svg-mute" src="v2/svg/audio_on" class="hidden" _nghost-mdfrontw-c44="">
                                        <div _ngcontent-mdfrontw-c44="">
                                          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">

                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.5 5.5H1.5V10.5H4.5V5.5ZM0 4V12H6V4H0Z" fill="black"></path>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.75005 0.5V15.5L4.55005 11.6L5.45005 10.4L8.25005 12.5V3.5L5.45005 5.6L4.55005 4.4L9.75005 0.5Z" fill="black"></path>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.25 7.99999C13.25 6.43206 12.5636 5.02538 11.4724 4.06229L12.465 2.93768C13.8651 4.17343 14.75 5.98384 14.75 7.99999C14.75 10.0161 13.8651 11.8265 12.465 13.0623L11.4724 11.9377C12.5636 10.9746 13.25 9.56792 13.25 7.99999Z" fill="black"></path>
                                          </svg>
                                        </div>
                                        <!---->
                                      </svg-icon>
                                    </button>
                                  </div>
                                </div>
                                <!---->
                                <!---->
                              </div>
                            </div>
                          </product-video>
                          <!---->
                          <!---->
                          <!---->
                        </a>
                        <!---->
                        <!---->
                      </picture>
                    </div>
                    <!---->
                    <!---->
                    <!---->
                  </product-view-media>
                  <product-view-addtocart class="card9-add text-center" _nghost-mdfrontw-c166="">
                    <div _ngcontent-mdfrontw-c166="" class="tit-xs mb-8 quickly-add-cart">AÑADIR TALLA</div>
                    <product-size-selector _ngcontent-mdfrontw-c166="" class="is-flex content-center" _nghost-mdfrontw-c79="">
                      <!---->
                      <ul _ngcontent-mdfrontw-c79="" class="btn-group product-size-selector">
                        <li _ngcontent-mdfrontw-c79="" class="product-size-selector__li w-100">
                          <button _ngcontent-mdfrontw-c79="" class="product-size-selector__button p-s">
                            <span _ngcontent-mdfrontw-c79="">XS</span>
                            <!---->
                            <!---->
                          </button>
                          <!---->
                          <!---->
                          <button _ngcontent-mdfrontw-c79="" class="product-size-selector__button p-s">
                            <span _ngcontent-mdfrontw-c79="">S</span>
                            <!---->
                            <!---->
                          </button>
                          <!---->
                          <!---->
                          <button _ngcontent-mdfrontw-c79="" class="product-size-selector__button p-s">
                            <span _ngcontent-mdfrontw-c79="">M</span>
                            <!---->
                            <!---->
                          </button>
                          <!---->
                          <!---->
                          <button _ngcontent-mdfrontw-c79="" class="product-size-selector__button p-s product-size-selector__button--disabled" disabled="">
                            <span _ngcontent-mdfrontw-c79="">L</span>
                            <!---->
                            <!---->
                          </button>
                          <!---->
                          <!---->
                          <!---->
                        </li>
                      </ul>
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                    </product-size-selector>
                    <!---->
                  </product-view-addtocart>
                  <!---->
                  <!---->
                </div>
              </div>
            </div>
            <product-view-details class="card9-view-details">
              <div class="card9-wrap-details">
                <div class="card9-contents pt-16">
                  <div class="p-s ttu name-width-product has-ellipsis">
                    <a class="pointer" href="/es/chaqueta-trench-organza-studio-l09713954"> Chaqueta trench organza -Studio </a>
                  </div>
                  <!---->
                  <product-prices class="p-s">
                    <div class="product-price mb-8">
                      <formatted-price>
                        <div class="is-flex flex-wrap text-nowrap">
                          <!---->
                          <!---->
                          <div>
                            <span class="c-dark-grey c-gray is-through p-s"> 169,00&nbsp;€ </span>
                            <!---->
                            <!---->
                            <!---->
                            <!---->
                          </div>
                          <!---->
                          <!---->
                          <!---->
                          <div>
                            <span class="c-sale p-s-b">
                              <label class="p-s"> -40% <label>*</label>
                                <!---->
                              </label>
                              <!---->
                              <!----> 99,95&nbsp;€ </span>
                            <!---->
                            <!---->
                            <!---->
                            <!---->
                          </div>
                          <!---->
                          <!---->
                        </div>
                        <!---->
                      </formatted-price>
                    </div>
                    <!---->
                    <!---->
                    <!---->
                  </product-prices>
                  <!---->
                  <!---->
                  <div class="product-view-info">
                    <product-color-selector class="color-wrap" _nghost-mdfrontw-c150="">
                      <div _ngcontent-mdfrontw-c150="" class="product-color-selector">
                        <!---->
                        <div _ngcontent-mdfrontw-c150="" class="product-color-buttons">
                          <button _ngcontent-mdfrontw-c150="" title="ROSA PAST" class="is-active">
                            <div _ngcontent-mdfrontw-c150="" class="color-selector is-flex"><img _ngcontent-mdfrontw-c150="" loading="lazy" src="https://axineccstwcsalb1.central.inditex.grp/3/photos//2023/V/0/1/p/9713/954/621/9713954621_3_1_7.jpg?t=1679652161552&amp;impolicy=massimodutti-itxmediumhigh&amp;imwidth=100&amp;imformat=chrome" alt="ROSA PAST"></div>
                            <!---->
                            <!---->
                          </button>
                          <!---->
                          <button _ngcontent-mdfrontw-c150="" title="NEGRO">
                            <div _ngcontent-mdfrontw-c150="" class="color-selector is-flex"><img _ngcontent-mdfrontw-c150="" loading="lazy" src="https://axineccstwcsalb1.central.inditex.grp/3/photos//2023/V/0/1/p/9713/954/800/9713954800_3_1_7.jpg?t=1667829279131&amp;impolicy=massimodutti-itxmediumhigh&amp;imwidth=100&amp;imformat=chrome" alt="NEGRO"></div>
                            <!---->
                            <!---->
                          </button>
                          <!---->
                          <!---->
                          <button _ngcontent-mdfrontw-c150="" aria-label="More colors" class="color-selector"></button>
                          <!---->
                        </div>
                      </div>
                      <!---->
                      <!---->
                    </product-color-selector>
                    <!---->
                  </div>
                  <!---->
                  <div class="tag-wrapper">
                    <!---->
                    <!---->
                    <!---->
                  </div>
                  <!---->
                  <!---->
                </div>
                <!---->
              </div>
            </product-view-details>
            <!---->
          </div>
        </div>
        <!---->
        <!---->
      </div>
    </product-view>
    <!---->
    <!---->
    <!---->
  </li>
</ul>