{% import "macros/_product.njk" as product %}


<li class="grid-product grid-product-view template-VIT">
  <h1 class="template-name" id="VIT">VIT</h1>

  <studio-single-product-template>
    <ul class="grid-product-wrap--VIT">
      <li class="grid-product-list grid-product-list--VIT sk-load8">
        <product-view-limited class="p-view">
          <div class="charged">
            <div class="card9-wrap limited-card-wrap" id="28684331">
              <span class="p-m-b limited-before-card9">BERMUDA SHORTS</span>
              <div class="card9">
                <div class="js-card9-inner rat-2-3">
                  <div class="rat-content">
                    <div class="relative" style="height: 100%">
                      <product-view-media _nghost-mdfrontw-c164="">
                        <div _ngcontent-mdfrontw-c164="" class="product-view-wrap">
                          <picture _ngcontent-mdfrontw-c164=""><a _ngcontent-mdfrontw-c164="" class="card9-link"
                              href="/es/bermuda-algodon-microsarga-l02904004">
                              <div _ngcontent-mdfrontw-c164="" product-img="" imgfallback="" class="img-poster">
                                <img height="auto" rel="preload" class="card9-image" id=""
                                  src="https://axineccstwcsalb1.central.inditex.grp/3/photos//2023/I/0/2/p/2904/004/710/07/2904004710_2_14_16.jpg?t=1685347307306&amp;impolicy=massimodutti-itxmediumhigh&amp;imwidth=1700&amp;imformat=chrome"
                                  alt="Bermuda algodón microsarga" width="1344" />
                              </div>
                            </a></picture>
                        </div>
                      </product-view-media>
                    </div>
                  </div>
                </div>

              </div>
              <span class="tit-xs limited-after-card9">Cotton micro-twill Bermuda shorts for Men</span>
            </div>
            <product-skeleton _nghost-mdfrontw-c169="">
              <div _ngcontent-mdfrontw-c169="" id="28684331">
                <div _ngcontent-mdfrontw-c169="" style="width: 100%; height: 100%; position: absolute"></div>

              </div>
              <div _ngcontent-mdfrontw-c169="" class="sk-wrap-2-3">
                <div _ngcontent-mdfrontw-c169="" class="rat-2-3 bg-light">
                  <div _ngcontent-mdfrontw-c169="" class="content"></div>
                </div>

              </div>
            </product-skeleton>
          </div>
        </product-view-limited>
      </li>
    </ul>
  </studio-single-product-template>
</li>