<ul class="grid-product-wrap--4A">
  <h1 class="template-name" id="4A">4A</h1>
  <li class="grid-product-list grid-product-list--4A sk-load2">
    {% include 'components/producto.njk' %}
  </li>
  <li class="grid-product-list grid-product-list--4A sk-load2">
    {% include 'components/producto.njk' %}
  </li>
  <li class="grid-product-list grid-product-list--4A sk-load2">
    {% include 'components/producto.njk' %}
  </li>
  <li class="grid-product-list grid-product-list--4A sk-load2">
    {% include 'components/producto.njk' %}
  </li>
</ul>
