<ul class="grid-product-wrap--2CBG">
  <h1 class="template-name" id="2CBG">2CBG</h1>
  <li class="grid-product-list grid-product-list--2CBG sk-load2">
    {% include 'components/producto.njk' %}
  </li>
  <li class="grid-product-list grid-product-list--2CBG sk-load2">
    {% include 'components/producto.njk' %}
  </li>
</ul>
