<ul class="grid-product-wrap--2A">
  <h1 class="template-name" id="2A">2A</h1>
  <li class="grid-product-list grid-product-list--2A sk-load2">
    {% include 'components/producto.njk' %}
  </li>
  <li class="grid-product-list grid-product-list--2A sk-load2">
    {% include 'components/producto.njk' %}
  </li>
</ul>
