<ul class="grid-product-wrap--2B">
  <h1 class="template-name" id="2B">2B</h1>
  <li class="grid-product-list grid-product-list--2B sk-load2">
    {% include 'components/producto.njk' %}
  </li>
  <li class="grid-product-list grid-product-list--2B sk-load2">
    {% include 'components/producto.njk' %}
  </li>
</ul>
