<ul class="grid-product-wrap--2D">
  <h1 class="template-name" id="2D">2D</h1>
  <li class="grid-product-list grid-product-list--2D sk-load2">
    {% include 'components/producto.njk' %}
  </li>
  <li class="grid-product-list grid-product-list--2D sk-load2">
    {% include 'components/producto.njk' %}
  </li>
</ul>
