{% import "macros/_product.njk" as product %}

<li id="1A" class="grid-product grid-product-view template-1A">
  <div class="template-name" id="1A">1A</div>
  <studio-single-product-template>
    <ul class="grid-product-wrap--1A">
      <li class="grid-product-list grid-product-list--1A sk-load2">
        {% call product.ratio('3-4') %} {% endcall %}
      </li>
    </ul>
  </studio-single-product-template>
</li>