{% import "macros/_product.njk" as product %}
<li class="grid-product grid-product-view template-MINIGRID_INFO">
  <div class="template-name" id="MINIGRID-INFO">MINIGRID-INFO</div>
  <studio-multi-product-template
    ><ul class="grid-product-wrap--MINIGRID-INFO">
      <li class="grid-product-list grid-product-list--MINIGRID-INFO sk-load2">
        {% call product.ratio('3-4','') %} {% endcall %}
      </li>
      <li class="grid-product-list grid-product-list--MINIGRID-INFO sk-load2">
        {% call product.ratio('3-4','') %} {% endcall %}
      </li>
      <li class="grid-product-list grid-product-list--MINIGRID-INFO sk-load2">
        {% call product.ratio('3-4','') %} {% endcall %}
      </li>
      <li class="grid-product-list grid-product-list--MINIGRID-INFO sk-load2">
        {% call product.ratio('3-4','') %} {% endcall %}
      </li>
      <li class="grid-product-list grid-product-list--MINIGRID-INFO sk-load2">
        {% call product.ratio('3-4','') %} {% endcall %}
      </li>

      
    </ul>
    </studio-multi-product-template
  >
</li>
