{% import "macros/_product.njk" as product %}


<li class="grid-product grid-product-view template-6S">
 <studio-multi-product-template
    ><ul class="grid-product-wrap--6S">
      <li class="double-image grid-product-list grid-product-list--6S sk-load9">




        {% call product.ratio('3-2','limited-text') %} {% endcall %}


      </li>
      <li class="grid-product-list grid-product-list--6S sk-load2">
           {% call product.ratio('3-4','limited-text') %} {% endcall %}
      </li>
      <li class="grid-product-list grid-product-list--6S sk-load2">
           {% call product.ratio('3-4','limited-text') %} {% endcall %}
      </li>
      <li class="grid-product-list grid-product-list--6S sk-load2">
           {% call product.ratio('3-4','limited-text') %} {% endcall %}
      </li>
      <li class="grid-product-list grid-product-list--6S sk-load2">
           {% call product.ratio('3-4','limited-text') %} {% endcall %}
      </li>
      <li class="grid-product-list grid-product-list--6S sk-load2">
           {% call product.ratio('3-4','limited-text') %} {% endcall %}
      </li>
      <li class="grid-product-list grid-product-list--6S sk-load2">
           {% call product.ratio('3-4','limited-text') %} {% endcall %}
      </li>
      <li class="grid-product-list grid-product-list--6S sk-load2">
        {% call product.ratio('3-4','limited-text') %} {% endcall %}
      </li>
      <li class="grid-product-list grid-product-list--6S sk-load2">
          {% call product.ratio('3-4','limited-text') %} {% endcall %}
      </li>
      <li class="grid-product-list grid-product-list--6S sk-load2">
          {% call product.ratio('3-4','limited-text') %} {% endcall %}
      </li>
     
    </ul>
   </studio-multi-product-template
  >
</li>
