{% import "macros/_product.njk" as product %}

<li class="grid-product grid-product-view template-3A">

  <div class="template-name" id="3A">3A</div>
  <studio-multi-product-template
    ><ul class="grid-product-wrap--3A">
  <li class="grid-product-list grid-product-list--3A sk-load2">
      {% call product.ratio('3-4','') %} {% endcall %}
  </li>
  <li class="grid-product-list grid-product-list--3A sk-load2">
      {% call product.ratio('3-4','') %} {% endcall %}
  </li>
  <li class="grid-product-list grid-product-list--3A sk-load2">
      {% call product.ratio('3-4','') %} {% endcall %}
  </li>
</ul>
    </studio-multi-product-template>
</li>
