<ul class="grid-product-wrap--5A">
  <h1 class="template-name" id="5A">5A</h1>
  <li class="grid-product-list grid-product-list--5A sk-load2">
    {% include 'components/producto.njk' %}
  </li>
  <li class="grid-product-list grid-product-list--5A sk-load2">
    {% include 'components/producto.njk' %}
  </li>
  <li class="grid-product-list grid-product-list--5A sk-load2">
    {% include 'components/producto.njk' %}
  </li>
  <li class="grid-product-list grid-product-list--5A sk-load2">
    {% include 'components/producto.njk' %}
  </li>
  <li class="grid-product-list grid-product-list--5A sk-load2">
    {% include 'components/producto.njk' %}
  </li>
</ul>
