<ul class="grid-product-wrap--1F">
    <h1 class="template-name" id="1F">1F</h1>
  <li class="grid-product-list grid-product-list--1F sk-load2">
    {% include 'components/producto.njk' %}
  </li>
</ul>
