{% import "macros/_product.njk" as product %}
<li class="grid-product grid-product-view template-4S">
  <div class="template-name" id="4S">4S</div>
  <studio-t4s></studio-t4s>
    <div class="grid-t4s-wrap">
      <ul class="grid-product-wrap--4S">
        <li class="sk-load2 grid-product-list--4S">
          {% call product.ratio('3-4') %} {% endcall %}
        </li>
        <li class="sk-load2 grid-product-list--4S">
          {% call product.ratio('3-4') %} {% endcall %}
        </li>
        <li class="sk-load2 grid-product-list--4S">
          {% call product.ratio('3-4') %} {% endcall %}
        </li>
        <li class="sk-load2 grid-product-list--4S">
          {% call product.ratio('3-4') %} {% endcall %}
        </li>
        <li class="sk-load2 grid-product-list--4S">
          {% call product.ratio('3-4') %} {% endcall %}
        </li>
        <li class="sk-load2 grid-product-list--4S">
          {% call product.ratio('3-4') %} {% endcall %}
        </li>
        <li class="sk-load2 grid-product-list--4S">
          {% call product.ratio('3-4') %} {% endcall %}
        </li>
        <li class="sk-load2 grid-product-list--4S">
          {% call product.ratio('3-4') %} {% endcall %}
        </li>
        <li class="sk-load2 grid-product-list--4S">
          {% call product.ratio('3-4') %} {% endcall %}
        </li>

      </ul>
    </div>
  </studio-t4s>
</li>