<ul class="grid-product-wrap--1A">
  <li class="grid-product-list grid-product-list--1A sk-load2">
    <h1 class="template-name" id="1A">1A</h1>
    {% include 'components/producto.njk' %}
  </li>
</ul>
