{% import "macros/_product.njk" as product %}



<li class="grid-product grid-product-view template-2DS">
<div class="template-name" id="2DS">2DS</div>
  <!----><studio-multi-product-template
    ><ul class="grid-product-wrap--2DS grid-product__section">
      <li
        class="grid-product-list grid-product-list--2DS grid-product-list--2DS-even sk-load2"
      >
      {% call product.ratio('3-2') %} {% endcall %}
      </li>
      <li class="grid-product-list grid-product-list--2DS sk-load2">
        {% call product.ratio('3-4') %} {% endcall %}
      </li>
      <!---->
    </ul>
    </studio-multi-product-template
  ><!---->
</li>
