<ul class="grid-product-wrap--2FH">
  <h1 class="template-name" id="2FH">2FH</h1>
  <li class="grid-product-list grid-product-list--2FH sk-load2">
    {% include 'components/producto.njk' %}
  </li>
  <li class="grid-product-list grid-product-list--2FH sk-load2">
    {% include 'components/producto.njk' %}
  </li>
</ul>
