<ul class="grid-product-wrap--2DS">
  <h1 class="template-name" id="2DS">2DS</h1>
  <li class="grid-product-list grid-product-list--2DS grid-product-list--2DS-even sk-load2">
    <product-view class="p-view">
      <div class="charged">
        <div class="card9-wrap" id="28520677">
          <div class="card9">
            <div class="js-card9-inner rat-3-2">
              <div class="rat-content">
                <div class="relative" style="height: 100%;">
                  <!---->
                  <product-view-media _nghost-mdfrontw-c164="">
                    <div _ngcontent-mdfrontw-c164="" class="product-view-wrap">
                      <picture _ngcontent-mdfrontw-c164="">
                        <!---->
                        <a _ngcontent-mdfrontw-c164="" class="card9-link" href="/es/jersey-polo-punto-cable-l00905403">
                          <div _ngcontent-mdfrontw-c164="" product-img="" imgfallback="" class="img-poster"><img height="auto" rel="preload" class="card9-image" id="" src="https://axineccstwcsalb1.central.inditex.grp/3/photos//2023/I/0/2/p/0905/403/710/04/0905403710_7_1_16.jpg?t=1685351823559&amp;impolicy=massimodutti-itxmediumhigh&amp;imwidth=500&amp;imformat=chrome" alt="Jersey polo punto cable" width="400.8"><!----></div>
                          <!---->
                          <!---->
                          <!---->
                          <!---->
                        </a>
                        <!---->
                        <!---->
                      </picture>
                    </div>
                    <!---->
                    <!---->
                    <!---->
                  </product-view-media>
                  <product-view-addtocart class="card9-add text-center" _nghost-mdfrontw-c166="">
                    <div _ngcontent-mdfrontw-c166="" class="tit-xs mb-8 quickly-add-cart">AÑADIR TALLA</div>
                    <product-size-selector _ngcontent-mdfrontw-c166="" class="is-flex content-center" _nghost-mdfrontw-c79="">
                      <!---->
                      <ul _ngcontent-mdfrontw-c79="" class="btn-group product-size-selector">
                        <li _ngcontent-mdfrontw-c79="" class="product-size-selector__li w-100">
                          <button _ngcontent-mdfrontw-c79="" class="product-size-selector__button p-s">
                            <span _ngcontent-mdfrontw-c79="">S</span>
                            <!---->
                            <!---->
                          </button>
                          <!---->
                          <!---->
                          <button _ngcontent-mdfrontw-c79="" class="product-size-selector__button p-s">
                            <span _ngcontent-mdfrontw-c79="">M</span>
                            <!---->
                            <!---->
                          </button>
                          <!---->
                          <!---->
                          <button _ngcontent-mdfrontw-c79="" class="product-size-selector__button p-s">
                            <span _ngcontent-mdfrontw-c79="">L</span>
                            <!---->
                            <!---->
                          </button>
                          <!---->
                          <!---->
                          <button _ngcontent-mdfrontw-c79="" class="product-size-selector__button p-s">
                            <span _ngcontent-mdfrontw-c79="">XL</span>
                            <!---->
                            <!---->
                          </button>
                          <!---->
                          <!---->
                          <button _ngcontent-mdfrontw-c79="" class="product-size-selector__button p-s">
                            <span _ngcontent-mdfrontw-c79="">XXL</span>
                            <!---->
                            <!---->
                          </button>
                          <!---->
                          <!---->
                          <!---->
                        </li>
                      </ul>
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                    </product-size-selector>
                    <!---->
                  </product-view-addtocart>
                  <!---->
                  <!---->
                </div>
              </div>
            </div>
            <product-view-details class="card9-view-details">
              <div class="card9-wrap-details">
                <div class="card9-contents pt-16">
                  <div class="p-s ttu name-width-product has-ellipsis">
                    <a class="pointer" href="/es/jersey-polo-punto-cable-l00905403"> Jersey polo punto cable </a>
                  </div>
                  <!---->
                  <product-prices class="p-s">
                    <div class="product-price mb-8">
                      <formatted-price>
                        <div class="is-flex flex-wrap text-nowrap">
                          <!---->
                          <!---->
                          <!---->
                          <div>
                            <span class="primary p-s">
                              <!----> 35,95&nbsp;€ </span>
                            <!---->
                            <!---->
                            <!---->
                            <!---->
                          </div>
                          <!---->
                          <!---->
                        </div>
                        <!---->
                      </formatted-price>
                    </div>
                    <!---->
                    <!---->
                    <!---->
                  </product-prices>
                  <!---->
                  <!---->
                  <div class="product-view-info">
                    <product-color-selector class="color-wrap" _nghost-mdfrontw-c150="">
                      <div _ngcontent-mdfrontw-c150="" class="product-color-selector">
                        <!---->
                        <div _ngcontent-mdfrontw-c150="" class="product-color-buttons">
                          <button _ngcontent-mdfrontw-c150="" title="BEIGE" class="is-active">
                            <div _ngcontent-mdfrontw-c150="" class="color-selector is-flex"><img _ngcontent-mdfrontw-c150="" loading="lazy" src="https://axineccstwcsalb1.central.inditex.grp/3/photos//2023/I/0/2/p/0905/403/710/0905403710_3_1_7.jpg?t=1683197561232&amp;impolicy=massimodutti-itxmediumhigh&amp;imwidth=100&amp;imformat=chrome" alt="BEIGE"></div>
                            <!---->
                            <!---->
                          </button>
                          <!---->
                          <button _ngcontent-mdfrontw-c150="" title="AZUL">
                            <div _ngcontent-mdfrontw-c150="" class="color-selector is-flex"><img _ngcontent-mdfrontw-c150="" loading="lazy" src="https://axineccstwcsalb1.central.inditex.grp/3/photos//2023/I/0/2/p/0905/403/400/0905403400_3_1_7.jpg?t=1683197561046&amp;impolicy=massimodutti-itxmediumhigh&amp;imwidth=100&amp;imformat=chrome" alt="AZUL"></div>
                            <!---->
                            <!---->
                          </button>
                          <!---->
                          <button _ngcontent-mdfrontw-c150="" title="Curry">
                            <div _ngcontent-mdfrontw-c150="" class="color-selector is-flex"><img _ngcontent-mdfrontw-c150="" loading="lazy" src="https://axineccstwcsalb1.central.inditex.grp/3/photos//2023/I/0/2/p/0905/403/644/0905403644_3_1_7.jpg?t=1683805410530&amp;impolicy=massimodutti-itxmediumhigh&amp;imwidth=100&amp;imformat=chrome" alt="Curry"></div>
                            <!---->
                            <!---->
                          </button>
                          <!---->
                          <button _ngcontent-mdfrontw-c150="" title="AZUL MARINO">
                            <div _ngcontent-mdfrontw-c150="" class="color-selector is-flex"><img _ngcontent-mdfrontw-c150="" loading="lazy" src="https://axineccstwcsalb1.central.inditex.grp/3/photos//2023/I/0/2/p/0905/403/401/0905403401_3_1_7.jpg?t=1683197561107&amp;impolicy=massimodutti-itxmediumhigh&amp;imwidth=100&amp;imformat=chrome" alt="AZUL MARINO"></div>
                            <!---->
                            <!---->
                          </button>
                          <!---->
                          <!---->
                          <button _ngcontent-mdfrontw-c150="" aria-label="More colors" class="color-selector"> +1 </button>
                          <!---->
                        </div>
                      </div>
                      <!---->
                      <!---->
                    </product-color-selector>
                    <!---->
                  </div>
                  <!---->
                  <div class="tag-wrapper">
                    <!---->
                    <!---->
                    <!---->
                  </div>
                  <!---->
                  <!---->
                </div>
                <!---->
              </div>
            </product-view-details>
            <!---->
          </div>
        </div>
        <!---->
        <!---->
      </div>
    </product-view>
    <!---->
    <!---->
    <!---->
  </li>
  <li class="grid-product-list grid-product-list--2DS sk-load2">
    <product-view class="p-view">
      <div class="charged">
        <div class="card9-wrap" id="28684330">
          <div class="card9">
            <div class="js-card9-inner rat-3-4">
              <div class="rat-content">
                <div class="relative" style="height: 100%;">
                  <!---->
                  <product-view-media _nghost-mdfrontw-c164="">
                    <div _ngcontent-mdfrontw-c164="" class="product-view-wrap">
                      <picture _ngcontent-mdfrontw-c164="">
                        <!---->
                        <a _ngcontent-mdfrontw-c164="" class="card9-link" href="/es/bermuda-algodon-microsarga-l02904004">
                          <div _ngcontent-mdfrontw-c164="" product-img="" imgfallback="" class="img-poster"><img height="auto" rel="preload" class="card9-image" id="" src="https://axineccstwcsalb1.central.inditex.grp/3/photos//2023/I/0/2/p/2904/004/710/06/2904004710_2_14_16.jpg?t=1685347307306&amp;impolicy=massimodutti-itxmediumhigh&amp;imwidth=500&amp;imformat=chrome" alt="Bermuda algodón microsarga" width="400.8"><!----></div>
                          <!---->
                          <!---->
                          <!---->
                          <!---->
                        </a>
                        <!---->
                        <!---->
                      </picture>
                    </div>
                    <!---->
                    <!---->
                    <!---->
                  </product-view-media>
                  <product-view-addtocart class="card9-add text-center" _nghost-mdfrontw-c166="">
                    <div _ngcontent-mdfrontw-c166="" class="tit-xs mb-8 quickly-add-cart">AÑADIR TALLA</div>
                    <product-size-selector _ngcontent-mdfrontw-c166="" class="is-flex content-center" _nghost-mdfrontw-c79="">
                      <!---->
                      <ul _ngcontent-mdfrontw-c79="" class="btn-group product-size-selector">
                        <li _ngcontent-mdfrontw-c79="" class="product-size-selector__li w-100">
                          <button _ngcontent-mdfrontw-c79="" class="product-size-selector__button p-s">
                            <span _ngcontent-mdfrontw-c79="">38</span>
                            <!---->
                            <!---->
                          </button>
                          <!---->
                          <!---->
                          <button _ngcontent-mdfrontw-c79="" class="product-size-selector__button p-s">
                            <span _ngcontent-mdfrontw-c79="">40</span>
                            <!---->
                            <!---->
                          </button>
                          <!---->
                          <!---->
                          <button _ngcontent-mdfrontw-c79="" class="product-size-selector__button p-s">
                            <span _ngcontent-mdfrontw-c79="">42</span>
                            <!---->
                            <!---->
                          </button>
                          <!---->
                          <!---->
                          <button _ngcontent-mdfrontw-c79="" class="product-size-selector__button p-s">
                            <span _ngcontent-mdfrontw-c79="">44</span>
                            <!---->
                            <!---->
                          </button>
                          <!---->
                          <!---->
                          <button _ngcontent-mdfrontw-c79="" class="product-size-selector__button p-s">
                            <span _ngcontent-mdfrontw-c79="">46</span>
                            <!---->
                            <!---->
                          </button>
                          <!---->
                          <!---->
                          <button _ngcontent-mdfrontw-c79="" class="product-size-selector__button p-s">
                            <span _ngcontent-mdfrontw-c79="">48</span>
                            <!---->
                            <!---->
                          </button>
                          <!---->
                          <!---->
                          <button _ngcontent-mdfrontw-c79="" class="product-size-selector__button p-s">
                            <span _ngcontent-mdfrontw-c79="">50</span>
                            <!---->
                            <!---->
                          </button>
                          <!---->
                          <!---->
                          <!---->
                        </li>
                      </ul>
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                    </product-size-selector>
                    <!---->
                  </product-view-addtocart>
                  <!---->
                  <!---->
                </div>
              </div>
            </div>
            <product-view-details class="card9-view-details">
              <div class="card9-wrap-details">
                <div class="card9-contents pt-16">
                  <div class="p-s ttu name-width-product has-ellipsis">
                    <a class="pointer" href="/es/bermuda-algodon-microsarga-l02904004"> Bermuda algodón microsarga </a>
                  </div>
                  <!---->
                  <product-prices class="p-s">
                    <div class="product-price mb-8">
                      <formatted-price>
                        <div class="is-flex flex-wrap text-nowrap">
                          <!---->
                          <!---->
                          <!---->
                          <div>
                            <span class="primary p-s">
                              <!----> 39,95&nbsp;€ </span>
                            <!---->
                            <!---->
                            <!---->
                            <!---->
                          </div>
                          <!---->
                          <!---->
                        </div>
                        <!---->
                      </formatted-price>
                    </div>
                    <!---->
                    <!---->
                    <!---->
                  </product-prices>
                  <!---->
                  <!---->
                  <div class="product-view-info">
                    <product-color-selector class="color-wrap" _nghost-mdfrontw-c150="">
                      <div _ngcontent-mdfrontw-c150="" class="product-color-selector">
                        <!---->
                        <div _ngcontent-mdfrontw-c150="" class="product-color-buttons">
                          <button _ngcontent-mdfrontw-c150="" title="BEIGE" class="is-active">
                            <div _ngcontent-mdfrontw-c150="" class="color-selector is-flex"><img _ngcontent-mdfrontw-c150="" loading="lazy" src="https://axineccstwcsalb1.central.inditex.grp/3/photos//2023/I/0/2/p/2904/004/710/2904004710_3_1_7.jpg?t=1681721530057&amp;impolicy=massimodutti-itxmediumhigh&amp;imwidth=100&amp;imformat=chrome" alt="BEIGE"></div>
                            <!---->
                            <!---->
                          </button>
                          <!---->
                          <button _ngcontent-mdfrontw-c150="" title="BLANCO">
                            <div _ngcontent-mdfrontw-c150="" class="color-selector is-flex"><img _ngcontent-mdfrontw-c150="" loading="lazy" src="https://axineccstwcsalb1.central.inditex.grp/3/photos//2023/I/0/2/p/2904/004/250/2904004250_3_1_7.jpg?t=1685706435316&amp;impolicy=massimodutti-itxmediumhigh&amp;imwidth=100&amp;imformat=chrome" alt="BLANCO"></div>
                            <!---->
                            <!---->
                          </button>
                          <!---->
                          <button _ngcontent-mdfrontw-c150="" title="AZUL MARINO">
                            <div _ngcontent-mdfrontw-c150="" class="color-selector is-flex"><img _ngcontent-mdfrontw-c150="" loading="lazy" src="https://axineccstwcsalb1.central.inditex.grp/3/photos//2023/I/0/2/p/2904/004/401/2904004401_3_1_7.jpg?t=1685706445517&amp;impolicy=massimodutti-itxmediumhigh&amp;imwidth=100&amp;imformat=chrome" alt="AZUL MARINO"></div>
                            <!---->
                            <!---->
                          </button>
                          <!---->
                          <button _ngcontent-mdfrontw-c150="" title="KAKI">
                            <div _ngcontent-mdfrontw-c150="" class="color-selector is-flex"><img _ngcontent-mdfrontw-c150="" loading="lazy" src="https://axineccstwcsalb1.central.inditex.grp/3/photos//2023/I/0/2/p/2904/004/505/2904004505_3_1_7.jpg?t=1685706443206&amp;impolicy=massimodutti-itxmediumhigh&amp;imwidth=100&amp;imformat=chrome" alt="KAKI"></div>
                            <!---->
                            <!---->
                          </button>
                          <!---->
                          <!---->
                          <button _ngcontent-mdfrontw-c150="" aria-label="More colors" class="color-selector"></button>
                          <!---->
                        </div>
                      </div>
                      <!---->
                      <!---->
                    </product-color-selector>
                    <!---->
                  </div>
                  <!---->
                  <div class="tag-wrapper">
                    <!---->
                    <!---->
                    <!---->
                  </div>
                  <!---->
                  <!---->
                </div>
                <!---->
              </div>
            </product-view-details>
            <!---->
          </div>
        </div>
        <!---->
        <!---->
      </div>
    </product-view>
    <!---->
    <!---->
    <!---->
  </li>
  <!---->
</ul>