<ul class="grid-product-wrap--2FV">
  <h1 class="template-name" id="2FV">2FV</h1>
  <li class="grid-product-list grid-product-list--2FV sk-load2">
    {% include 'components/producto.njk' %}
  </li>
  <li class="grid-product-list grid-product-list--2FV sk-load2">
    {% include 'components/producto.njk' %}
  </li>
</ul>
