<ul class="grid-product-wrap--4B">
  <h1 class="template-name" id="4B">4B</h1>
  <li class="grid-product-list grid-product-list--4B sk-load2">
    {% include 'components/producto.njk' %}
  </li>
  <li class="grid-product-list grid-product-list--4B sk-load2">
    {% include 'components/producto.njk' %}
  </li>
  <li class="grid-product-list grid-product-list--4B sk-load2">
    {% include 'components/producto.njk' %}
  </li>
  <li class="grid-product-list grid-product-list--4B sk-load2">
    {% include 'components/producto.njk' %}
  </li>
</ul>
