<ul class="grid-product-wrap--1CC">
  <h1 class="template-name" id="1CC">1CC</h1>
  <li class="grid-product-list grid-product-list--1CC sk-load2">
    <product-view class="p-view">
      <div class="charged">
        <div class="card9-wrap" id="19855476">
          <div class="card9">
            <div class="js-card9-inner rat-3-4">
              <div class="rat-content">
                <div class="relative" style="height: 100%;">
                  <!---->
                  <product-view-media _nghost-mdfrontw-c164="">
                    <div _ngcontent-mdfrontw-c164="" class="product-view-wrap">
                      <picture _ngcontent-mdfrontw-c164="">
                        <!---->
                        <a _ngcontent-mdfrontw-c164="" class="card9-link" href="/es/jersey-cuello-alto-manga-murcielago-l05600509">
                          <div _ngcontent-mdfrontw-c164="" product-img="" imgfallback="" class="img-poster"><img height="auto" rel="preload" class="card9-image" id="" src="https://axineccstwcsalb1.central.inditex.grp/3/photos//2023/V/0/1/p/5600/509/800/5600509800_2_5_16.jpg?t=1667995526418&amp;impolicy=massimodutti-itxmediumhigh&amp;imwidth=900&amp;imformat=chrome" alt="Jersey cuello alto manga murciélago" width="668"><!----></div>
                          <!---->
                          <!---->
                          <!---->
                          <!---->
                        </a>
                        <!---->
                        <!---->
                      </picture>
                    </div>
                    <!---->
                    <!---->
                    <!---->
                  </product-view-media>
                  <product-view-addtocart class="card9-add text-center" _nghost-mdfrontw-c166="">
                    <div _ngcontent-mdfrontw-c166="" class="tit-xs mb-8 quickly-add-cart">AÑADIR TALLA</div>
                    <product-size-selector _ngcontent-mdfrontw-c166="" class="is-flex content-center" _nghost-mdfrontw-c79="">
                      <!---->
                      <ul _ngcontent-mdfrontw-c79="" class="btn-group product-size-selector">
                        <li _ngcontent-mdfrontw-c79="" class="product-size-selector__li w-100">
                          <button _ngcontent-mdfrontw-c79="" class="product-size-selector__button p-s">
                            <span _ngcontent-mdfrontw-c79="">S</span>
                            <!---->
                            <!---->
                          </button>
                          <!---->
                          <!---->
                          <button _ngcontent-mdfrontw-c79="" class="product-size-selector__button p-s">
                            <span _ngcontent-mdfrontw-c79="">M</span>
                            <!---->
                            <!---->
                          </button>
                          <!---->
                          <!---->
                          <button _ngcontent-mdfrontw-c79="" class="product-size-selector__button p-s">
                            <span _ngcontent-mdfrontw-c79="">L</span>
                            <!---->
                            <!---->
                          </button>
                          <!---->
                          <!---->
                          <!---->
                        </li>
                      </ul>
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                      <!---->
                    </product-size-selector>
                    <!---->
                  </product-view-addtocart>
                  <!---->
                  <!---->
                </div>
              </div>
            </div>
            <product-view-details class="card9-view-details">
              <div class="card9-wrap-details">
                <div class="card9-contents pt-16">
                  <div class="p-s ttu name-width-product has-ellipsis">
                    <a class="pointer" href="/es/jersey-cuello-alto-manga-murcielago-l05600509"> Jersey cuello alto manga murciélago </a>
                  </div>
                  <!---->
                  <product-prices class="p-s">
                    <div class="product-price mb-8">
                      <formatted-price>
                        <div class="is-flex flex-wrap text-nowrap">
                          <!---->
                          <!---->
                          <div>
                            <span class="c-dark-grey c-gray is-through p-s"> 69,95&nbsp;€ </span>
                            <!---->
                            <!---->
                            <!---->
                            <!---->
                          </div>
                          <!---->
                          <!---->
                          <!---->
                          <div>
                            <span class="c-sale p-s-b">
                              <label class="p-s"> -55% <label>*</label>
                                <!---->
                              </label>
                              <!---->
                              <!----> 29,95&nbsp;€ </span>
                            <!---->
                            <!---->
                            <!---->
                            <!---->
                          </div>
                          <!---->
                          <!---->
                        </div>
                        <!---->
                      </formatted-price>
                    </div>
                    <!---->
                    <!---->
                    <!---->
                  </product-prices>
                  <!---->
                  <!---->
                  <div class="product-view-info">
                    <product-color-selector class="color-wrap" _nghost-mdfrontw-c150="">
                      <div _ngcontent-mdfrontw-c150="" class="product-color-selector">
                        <!---->
                        <div _ngcontent-mdfrontw-c150="" class="product-color-buttons">
                          <button _ngcontent-mdfrontw-c150="" title="NEGRO" class="is-active">
                            <div _ngcontent-mdfrontw-c150="" class="color-selector is-flex"><img _ngcontent-mdfrontw-c150="" loading="lazy" src="https://axineccstwcsalb1.central.inditex.grp/3/photos//2023/V/0/1/p/5600/509/800/5600509800_3_1_7.jpg?t=1667471934613&amp;impolicy=massimodutti-itxmediumhigh&amp;imwidth=100&amp;imformat=chrome" alt="NEGRO"></div>
                            <!---->
                            <!---->
                          </button>
                          <!---->
                          <button _ngcontent-mdfrontw-c150="" title="BEIGE">
                            <div _ngcontent-mdfrontw-c150="" class="color-selector is-flex"><img _ngcontent-mdfrontw-c150="" loading="lazy" src="https://axineccstwcsalb1.central.inditex.grp/3/photos//2023/V/0/1/p/5600/509/710/5600509710_3_1_7.jpg?t=1668173108344&amp;impolicy=massimodutti-itxmediumhigh&amp;imwidth=100&amp;imformat=chrome" alt="BEIGE"></div>
                            <!---->
                            <!---->
                          </button>
                          <!---->
                          <!---->
                          <button _ngcontent-mdfrontw-c150="" aria-label="More colors" class="color-selector"></button>
                          <!---->
                        </div>
                      </div>
                      <!---->
                      <!---->
                    </product-color-selector>
                    <!---->
                  </div>
                  <!---->
                  <div class="tag-wrapper">
                    <!---->
                    <!---->
                    <!---->
                  </div>
                  <!---->
                  <!---->
                </div>
                <!---->
              </div>
            </product-view-details>
            <!---->
          </div>
        </div>
        <!---->
        <!---->
      </div>
    </product-view>
    <!---->
    <!---->
    <!---->
  </li>
</ul>