{% import "macros/_product.njk" as product %}



<li class="grid-product grid-product-view template-1E">
  <div class="template-name" id="1E">1E</div>
  <studio-single-product-template
    ><ul class="grid-product-wrap--1E">
      <li class="grid-product-list grid-product-list--1E sk-load4">
        <product-view class="p-view"
          ><div class="charged">
            <div class="card9-wrap" id="29205672">
              <div class="card9" style="background-color: rgb(0, 0, 0)">
                <div class="js-card9-inner rat-3-4">
                  <div class="rat-content">
                    <div class="relative" style="height: 100%">
                      <product-view-media _nghost-mdfrontw-c164=""
                        ><div
                          _ngcontent-mdfrontw-c164=""
                          class="product-view-wrap"
                        >
                          <picture _ngcontent-mdfrontw-c164=""
                            ><a
                              _ngcontent-mdfrontw-c164=""
                              class="card9-link"
                              href="/es/pantalon-traje-azul-marino-100-lino-l00091103"
                              ><div
                                _ngcontent-mdfrontw-c164=""
                                product-img=""
                                imgfallback=""
                                class="img-poster"
                              >
                                <img
                                  height="auto"
                                  rel="preload"
                                  class="card9-image"
                                  id=""
                                  src="https://axineccstwcsalb1.central.inditex.grp/3/photos//2023/I/0/2/p/0091/103/401/02/0091103401_2_5_16.jpg?t=1686652086076&amp;impolicy=massimodutti-itxmediumhigh&amp;imwidth=700&amp;imformat=chrome"
                                  alt="Pantalón traje azul marino 100% lino"
                                  width="576"
                                /><!---->
                              </div>
                              <!----><!----><!----><!----></a
                            ><!----><!----></picture
                          >
                        </div>
                        <!----><!----><!----></product-view-media
                      ><product-view-addtocart
                        class="card9-add text-center"
                        _nghost-mdfrontw-c166=""
                        ><div
                          _ngcontent-mdfrontw-c166=""
                          class="tit-xs mb-8 quickly-add-cart"
                        >
                          AÑADIR TALLA
                        </div>
                        <product-size-selector
                          _ngcontent-mdfrontw-c166=""
                          class="is-flex content-center"
                          _nghost-mdfrontw-c79=""
                          ><!---->
                          <ul
                            _ngcontent-mdfrontw-c79=""
                            class="btn-group product-size-selector"
                          >
                            <li
                              _ngcontent-mdfrontw-c79=""
                              class="product-size-selector__li w-100"
                            >
                              <button
                                _ngcontent-mdfrontw-c79=""
                                class="product-size-selector__button p-s"
                              >
                                <span _ngcontent-mdfrontw-c79="">38</span
                                ><!----><!----></button
                              ><!----><!----><button
                                _ngcontent-mdfrontw-c79=""
                                class="product-size-selector__button p-s"
                              >
                                <span _ngcontent-mdfrontw-c79="">40</span
                                ><!----><!----></button
                              ><!----><!----><button
                                _ngcontent-mdfrontw-c79=""
                                class="product-size-selector__button p-s"
                              >
                                <span _ngcontent-mdfrontw-c79="">42</span
                                ><!----><!----></button
                              ><!----><!----><button
                                _ngcontent-mdfrontw-c79=""
                                class="product-size-selector__button p-s"
                              >
                                <span _ngcontent-mdfrontw-c79="">44</span
                                ><!----><!----></button
                              ><!----><!----><button
                                _ngcontent-mdfrontw-c79=""
                                class="product-size-selector__button p-s"
                              >
                                <span _ngcontent-mdfrontw-c79="">46</span
                                ><!----><!----></button
                              ><!----><!----><button
                                _ngcontent-mdfrontw-c79=""
                                class="product-size-selector__button p-s"
                              >
                                <span _ngcontent-mdfrontw-c79="">48</span
                                ><!----><!----></button
                              ><!----><!----><button
                                _ngcontent-mdfrontw-c79=""
                                class="product-size-selector__button p-s"
                              >
                                <span _ngcontent-mdfrontw-c79="">50</span
                                ><!----><!----></button
                              ><!----><!----><!---->
                            </li>
                          </ul>
                          <!----><!----><!----><!----><!----></product-size-selector
                        ><!----></product-view-addtocart
                      ><!----><!---->
                    </div>
                  </div>
                </div>
                <product-view-details class="card9-view-details"
                  ><div class="card9-wrap-details">
                    <div class="card9-contents pt-16">
                      <div
                        class="p-s ttu name-width-product has-ellipsis"
                        style="color: rgb(255, 255, 255)"
                      >
                        <a
                          class="pointer"
                          href="/es/pantalon-traje-azul-marino-100-lino-l00091103"
                          style="color: rgb(255, 255, 255)"
                        >
                          Pantalón traje azul marino 100% lino
                        </a>
                      </div>
                      <!----><product-prices class="p-s"
                        ><div class="product-price mb-8">
                          <formatted-price
                            ><div class="is-flex flex-wrap text-nowrap">
                              <!----><!----><!---->
                              <div>
                                <span
                                  class="primary p-s"
                                  style="color: rgb(255, 255, 255)"
                                  ><!---->
                                  69,95&nbsp;€ </span
                                ><!----><!----><!----><!---->
                              </div>
                              <!----><!---->
                            </div>
                            <!----></formatted-price
                          >
                        </div>
                        <!----><!----><!----></product-prices
                      ><!----><!---->
                      <div class="product-view-info"><!----></div>
                      <!---->
                      <div class="tag-wrapper"><!----><!----><!----></div>
                      <!----><!---->
                    </div>
                    <!---->
                  </div></product-view-details
                ><!---->
              </div>
            </div>
            <!----><!---->
          </div></product-view
        ><!----><!----><!---->
      </li>
    </ul>
    <!----><!----><!----><!----><!----><!----></studio-single-product-template
  ><!---->
</li>
{# Esta parrilla es muy compleja porque el texto pasa a blando #}

<li class="grid-product grid-product-view template-1E">
  <studio-single-product-template
    ><ul class="grid-product-wrap--1E">
      <li class="grid-product-list grid-product-list--1E sk-load4">
        {% call product.ratio('3-4') %} {% endcall %}
      </li>
    </ul>
    </studio-single-product-template
  >
</li>

