@import '../../../../../../../../../../assets/styles/abstract/_all.scss';
@import '../../../../../../../../../../assets/styles/abstract/_categoryGrid.scss';

$grid-cols--1A: 3;

.grid-product-wrap--1A {
    @include grid-product-view-bleed;

    margin-top: $sm-grid-top-margin;
    margin-bottom: $sm-grid-bottom-margin;

    @media (min-width: $break-sm) {
        margin-top: $grid-top-margin;
        margin-bottom: $grid-bottom-margin;
    }
    .grid-product-list--1A {
        @media (min-width: $break-sm) {
            width: calc(100% / #{$grid-cols--1A});
            margin-left: calc(100% / #{$grid-cols--1A});
            margin-right: calc(100% / #{$grid-cols--1A});
        }
    }
}

.is-rtl .grid-product-wrap--1A {
    @include grid-product-view-bleed-rtl;
}
