@import '../abstract/_all.scss';
@import "../abstract/_categoryGrid.scss";

$grid-cols--1LE: 3;
$grid-cols-mobile--1LE: 2;

.grid-product-wrap--1LE {
    @include grid-product-view-bleed;

    margin-top: 0; 
    display: flex;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;

    @media (min-width: $break-sm) {
 
    }

    .grid-product-list--1LE {
        &:nth-child(2n) {
            margin-right: 0;
        }

        margin-left: 0px;
        margin-right: 24px;
        margin-bottom: 32px;
        width: calc(100% / #{$grid-cols-mobile--1LE} - (24px / #{$grid-cols-mobile--1LE}));

        @media (min-width: $break-sm) {
            &:nth-child(2n) {
                margin-right: 50px;
            }

            &:nth-child(3n) {
                margin-right: 0;
            }

            margin-right: 50px;
            margin-bottom: 42px;
            width: calc(100% / #{$grid-cols--1LE} - 34px);
        }

        @media (min-width: $break-sm) {
            margin-bottom: 72px;
        }
    }
}

.is-rtl {
    .grid-product-wrap--1LE {
        @include grid-product-view-bleed-rtl;

        .grid-product-list--1LE {
            &:nth-child(2n) {
                margin-left: 0;
            }

            margin-right: 0px;
            margin-left: 24px;

            @media (min-width: $break-sm) {
                &:nth-child(2n) {
                    margin-left: 50px;
                }

                &:nth-child(3n) {
                    margin-left: 0;
                }

                margin-right: 0px;
                margin-left: 50px;
            }
        }
    }
}
