@import '../abstract/_all.scss';

//@import '~swiper/swiper';
//@import '~swiper/components/scrollbar/scrollbar';

$grid-cols--1A: 3;

.grid-product-wrap--1A_mono {
    width: 100%;
    margin-left: 0;
    margin-top: $sm-grid-top-margin;
    margin-bottom: $sm-grid-bottom-margin;

    @media (min-width: $break-sm) {
        margin-top: $grid-top-margin;
        margin-bottom: $grid-bottom-margin;
        width: calc((100% + (#{$grid-view1-gutter})) / #{$grid-cols--1A} - #{$grid-view1-gutter});
        margin-left: calc((100% + (#{$grid-view1-gutter})) / #{$grid-cols--1A});
    }
}

.swiper-scrollbar {
    display: none !important;
}

.swiper-container {
    width: auto;
    height: 100%;
    padding-bottom: 8px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-swiper-wrap {
    width: calc(100% + (26vw * 2));
    margin-left: -26vw;

    @media (max-width: #{$break-sm - 1}) {
        width: calc(100% + $md-grid-wrap-pad);
        margin-left: -$xs-grid-wrap-pad-double;
    }

    @media (max-width: 1279px) {
        &.mobile-center-monoprod {
            justify-content: flex-start;
        }
    }
}

.mobile-center-monoprod {
    @media (min-width: $break-sm) {
        // margin-left: 0;
    }

    ::ng-deep .card9-wrap-details {
        position: relative;
    }
}

.not-image-monoproducto product-view product-view-media {
    display: none;
}

.swiper-nat {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    position: relative;

    @media (min-width: $break-sm) {
        position: relative;
    }

    .swiper-thumbs {
        @media (max-width: 767px) {
            width: 38vw;
        }

        @media (max-width: #{$break-sm - 1}) {
            width: 38vw;
            margin-right: 8px;
        }
    }
}

.swiper-nat::-webkit-scrollbar {
    display: none;
}

::ng-deep.grid-product-wrap--1A_mono {

    .card9,
    .rat-3-4 {
        overflow: inherit;
    }

    .hidden-details {
        .card9-view-details {
            display: none !important;

            @media (min-width: $break-sm) {
                display: block !important;
            }
        }
    }

    .hidden-image {
        .js-card9-inner {
            display: none !important;
        }
    }

    .card9 {
        display: flex;
        flex-direction: column;

        @media (min-width: $break-sm) {
            flex-direction: row;
        }

        .js-card9-inner {
            width: 100%;
            order: 1;
        }

        .card9-view-details {
            order: 2;

            @media (min-width: $break-sm) {
                position: absolute;
                bottom: 0;
                right: 0;
                transform: translateX(calc(100% + 8px));
            }
        }

        .card9-contents {
            @media (min-width: $break-sm) {
                padding: 0;
            }
        }

        .card9-wrap-details {
            min-height: 0;
            width: 100%;
            display: contents;
        }
    }

    &+.grid-swiper-wrap {
        .sk-wrap-2-3 {
            .sk-text-zone {
                display: none;
            }
        }

        width: auto;
        margin-left: inherit;
    }
}

.grid-product-wrap--1A_mono .card9 .card9-wrap-details {
    min-height: 0;
    width: 100%;
    display: contents;
}

::ng-deep {
    .is-rtl {
        .grid-product-wrap--1A_mono {
            @media (min-width: $break-sm) {
                margin-right: calc((100% + (#{$grid-view1-gutter})) / #{$grid-cols--1A});
                margin-left: 0px;
            }
        }
    }
}