@import '../abstract/_all.scss';

$grid-cols--4S: 4;
$grid-cols-mobile--4S: 2;
$margin-grid-cols--4S: 60px;
$margin-grid-cols-mobile--4S: 10px;

.grid-product-wrap--4S {
    margin-top: $sm-grid-top-margin;
    margin-bottom: $sm-grid-bottom-margin;
    margin-left: 0;
    display: flex;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;

    @media (min-width: $break-sm) {
        margin-top: $grid-top-margin;
        margin-bottom: $grid-bottom-margin;
    }

    @media (max-width: $break-sm) {
        width: calc(100% + 24px);
        margin-left: -12px;
        margin-right: -12px;
    }

    .grid-product-list--4S {
        margin-right: calc(#{$margin-grid-cols--4S} / 2);
        margin-left: calc(#{$margin-grid-cols--4S} / 2);
        width: calc(100% / #{$grid-cols--4S} - #{$margin-grid-cols--4S});

        .card9-contents {
            padding-top: 0;
            margin-top: 10px;
        }

        .color-wrap {
            line-height: 10px;
            padding-bottom: 0;
            button {
                width: 12px;
                font-size: 12px;
            }
        }

        .primary {
            font-size: 12px;
        }

        .product-price {
            margin-top: 4px;
            margin-bottom: 4px;
        }

        .tag-wrapper {
            margin-top: -5px;
        }

        .product-tag {
            font-family: 'dutti-daily-regular', Helvetica, arial, sans-serif;
            font-size: 12px;
            color: #8e8e8e;
        }

        .product-color-buttons {
            margin-bottom: 7px;
        }

        &.sk-load2::before {
            position: relative;
            padding-top: 0;
        }

        .p-view {
            position: relative;
        }
        .card9-wrap-details {
            position: relative;
            min-height: initial;
        }

        @media (max-width: #{$break-sm}) {
            margin-left: calc(#{$margin-grid-cols-mobile--4S}/ 2);
            margin-right: calc(#{$margin-grid-cols-mobile--4S}/ 2);
            width: calc((100% / #{$grid-cols-mobile--4S}) - #{$margin-grid-cols-mobile--4S});

            .product-tag {
                font-size: 9px;
            }

            .product-color-buttons {
                margin-bottom: 4px;
            }
        }
    }
}
