---
permalink: /humans.txt
eleventyExcludeFromCollections: true
---
# humanstxt.org
# humans txt

Author: {{global.author}}
Site: https://{{global.authorweb}}/
Twitter: @
Location: 


/* TEAM */
Author: {{global.author}}
Developer:{{global.author}}
Designer: {{global.author}}
Contact: {{global.author}}

/* THANKS */
Gracias a mi 

/* SITE */
Site:{{global.authorweb}}
Version: 1.0
