---
permalink: /site.webmanifest
eleventyExcludeFromCollections: true
---
{
  "name": "{{global.url}}",
  "short_name": "{{global.empresa}}",
  "icons": [
    { "src": "assets/static/favicons/android-chrome-192x192.png", "sizes": "192x192", "type": "image/png" },
    { "src": "assets/static/favicons/android-chrome-512x512.png", "sizes": "512x512", "type": "image/png" }
  ],
  "theme_color": "{{global.c_primary}}",
  "background_color": "{{global.bg_light}}",
  "display": "standalone"
}