$header-mobile: 60px;
$header-desktop: 200px;

header {
  position: fixed;
  top: 0;
  width: 100%;
  color: #ffffff;
  z-index: 100;
  height: $header-mobile;
  transition: all ease 0.3s;
  display: flex;
  align-items: center;
  font-size: 12px;

  mix-blend-mode: difference;
  background-blend-mode: difference;

  ul.list-clear li{
    margin: 0;
  }


a{
  color: white;
}
  
  @media (min-width: $break-sm) {
    padding-bottom: 0;
    height: 60px;
  }
}



header.interior {
  a {
    color: #212121;
  }
  svg path {
    fill: #212121;
  }
}



.logo {
  width: 100%;
  max-width: 90px;
  svg {
    width: 100%;
  }
  @media (min-width: $break-sm) {
    width: 100%;
    max-width: 180px;
  }
}




