@import './abstract/_all.scss';
@import "./abstract/_gridNEW.scss";

.grid{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 1000;
    pointer-events: none;
    .grid1{
      position: absolute;
      width: 1px;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: magenta;
    }
    .grid2{
      position: absolute;
      width: 1px;
      height: 100%;
      top: 0;
      bottom: 0;
      right: 0;
   
      background-color: magenta;
    }
  
    .grid3{
      position: absolute;
      width: 1px;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 16px;
      background-color: rgb(0, 229, 255);
    }
    .grid4{
      position: absolute;
      width: 1px;
      height: 100%;
      top: 0;
      bottom: 0;
      right: 16px;
      background-color: rgb(0, 229, 255);
    }
  
  
    @media (min-width: $break-md) {
      .grid3{
        position: absolute;
        width: 1px;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 40px;
        background-color: rgb(0, 229, 255);
      }
      .grid4{
        position: absolute;
        width: 1px;
        height: 100%;
        top: 0;
        bottom: 0;
        right: 40px;
        background-color: rgb(0, 229, 255);
      }
    }
  }
  
  .overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    pointer-events: none;
    display: none;
    gap: 16px;
    opacity: .1;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap:  16px; 
    @include space-0-pdesktop;

    
    .overlayclip{
      background-color: red;
  
    }
  
  }
  
  
  .overlaybleed{
    position: fixed;
    top: 0;
    bottom: 0;
  
    left: 0;
    right: 0;
    height: 100%;
    z-index: 1000;
    pointer-events: none;
    display: none; 


    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 

    gap:  16px; 
    opacity: .1;
  
    .overlayclip{
      background-color: red;
    }
  
  }
  .open-over3 {
    .overlaybleed {
      gap: 0;
      .overlayclip {
        border: 1px solid green;
      }
    }
  }
  
  .open-over1, .open-over3 {
    .overlaybleed{
      display: grid;
    }
  
  }
  
  .open-over2{
    .overlay{
      display: grid;
    }
  }
  
  
  .select-zone{
    position: fixed;
    width: 100%;
    padding: 10px;
    margin-top: 2px;
    font-size: 12px;
    z-index: 100;
    a{
      display: inline-block;
      padding: 2px 8px;
      background-color: #eaeaea;
      border-radius: 4px;
      margin: 4px;
      margin-top: 0;
      &.rtl {


        background-color: wheat;

      }
      &.over1,&.over2,&.over3 {


        background-color: rgb(255, 128, 128);

      }
    }
  }

  .to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &::after {
      content: '';
      display: block;
      width: 30px;
      height: 30px;
      border-left: 1px solid black;
      border-top: 1px solid black;
      transform: rotate(45deg)
    }
  }
  



.body-fake {
    padding: 16px;
    list-style: none;
  }
  @media (min-width: 992px) {
    .body-fake {
      padding: 40px;
    }
  }
  .grid-product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    list-style: none;
  }
  .grid-product-view .grid-product-list {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .grid-product-view {
    flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    width: 100%;
  }
  .grid-product {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    vertical-align: bottom;
  }
  
  .grid-product__section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
  }

  .pt-100{
    padding-top: 100px;
  }


  .fin{
    position: relative;
   &::after{
      position: absolute;
      top: -2px;
      left: -5px;
      content: '';
      background-color:rgb(180, 56, 180);
      border-radius: 12px;
      padding: 4px;
      font-size: 10px;
      width: 5px;
      height: 5px;
  
    }
  }
