@import "base/_fonts.scss";
@import "abstract/_setup.scss";

$space-left: calc(((100vw - 1280px) / 2));
$width-left: calc((1280px + (100vw - 1280px) / 2));
@import "../../../node_modules/holygrailcss/scss/style.scss";
// -FASE 4 : OVERRIDE YOUR HOLYGRAIL

@import "./header2.scss";
@import "./_menu.scss";
@import "./_swiper.scss";
@import "./_video.scss";
@import "./_blog.scss";
@import "./_brands.scss";
@import "./_resize.scss";
@import "./_dummyproduct.scss";

@import "./theme.scss";


@import "parrillas/_all.scss";


//@import "parrillas/*";
$primary-color: var(--primary-color);
$c-primary: var(--c-primary);
$c-secondary: var(--c-secondary);
$bg-dark: var(--bg-dark);
$c-bg-dark: var(--c-bg-dark);
$bg-light: var(--bg-light);
$c-bg-light: var(--c-bg-light);



body {
  overflow-x: hidden;
  color: $primary-color;
  scroll-behavior: smooth;
}
p {
  font-size: inherit;
}
strong {
  color: $primary;
}
.bold {
  @include font-bold;
}
b {
  color: $c-secondary;
}
a {
  &:hover {
    cursor: pointer;
  }
}
.bg-dark {
  background-color: $bg-dark;
  color: $c-bg-dark;
}
.bg-light {
  background-color: $bg-light;
  color: $c-bg-light;
}
.has-light {
  a {
    color: white;
  }
}




.header-img {
  position: relative;
}



.ttc {
  text-transform: capitalize;
}
.container-full {
  max-width: 1600px;
}
.product-tag {
  font-family: "dutti-daily-bold";
  font-size: 14px;
  color: #292929;
  letter-spacing: 0;
  line-height: 16px;
}
.template-name {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 8px;

  background-color: #a1bfa0;
  color: white;
  font-size: 12px;
  font-weight: bold;

}
.grid-product, ul {
  position: relative;
}

.fixed-section{
  position: fixed;

}


.fixed-section-logo{
  position: fixed;
  top: 0;
  mix-blend-mode: difference;
  background-blend-mode: difference;
  height: 100vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}



.container-total {
  padding-right: $padding-mobile;
  padding-left: $padding-mobile;
  margin-right: 0;
  margin-left: 0;
  position: relative;
  width: 100%;
  max-width: 100%;
  @media (min-width: $break-sm) {
    padding-right: $padding-desktop;
    padding-left: $padding-desktop;
    width: 100%;
    max-width: 100%;
  }

}

.fixed-section-text{
width: 300px;
height: 24px;
position: relative;
overflow: hidden;

  padding-left: 20px;

  color: white;
  line-height: 2.3;


}


.fixed-section1,
.fixed-section2,
.fixed-section3{
transition: ease .2s all;
  position: absolute;
  top: 20px;
  white-space: nowrap;
  

}

.section1{

  .fixed-section1{
		animation: entra 0.3s ease forwards;

  }
  .fixed-section2{
		animation: seva 0.3s ease forwards;
  }

}
.section2{

  .fixed-section1{
		animation: seva 0.3s ease forwards;
  }
  .fixed-section2{
		animation: entra 0.3s ease forwards;

  }

}



@keyframes seva {
	0% {
top:0;
	}
  99% {
    top:-30px;
      }
	100% {
top:20px;
	}


}

@keyframes entra {
	0% {
top:20px;
	}
  100% {
    top:0px;
      }

}


.search-bar{
position: relative;


&:after{
    position: absolute;
    bottom: -4px;
    left: 50%;
     transform: translate(-50%, -50%);
    content: "";
    background-color: #fff;
    width: 100%;
    max-width: 250px;
    height: 1px;
  }

}

.active-menu{
  position: relative;
  &::after{

    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    background-color: white;
    bottom: -8px;
    left: 50%;
    transform: translate(-50%, -50%);
  }



}